{% set mainNavPages = craft.entries.section('pages').status('all').level(1) %}
{% set partnersIndexUrl = craft.entries.section('pages').slug('partners').status('all').first().children()[0].url %}
{% set companySlogan = footer.companySlogan | default('#') %}
{% set facebookUrl = footer.socialFacebook | default('#') %}
{% set twitterUrl = footer.socialFacebook | default('#') %}
{% set linkedInUrl = footer.socialFacebook | default('#') %}

<footer class="core-footer">

	<div class="global-wrapper">

		<div class="content-wrapper">

			{% include 'includes/partial/_subscribe' %}

			<div class="company-info">

				<a class="logo" href="{{ siteUrl }}" title="{{ siteName }}">
					{{ craft.inlin.er('/images/logos/syapse.svg') | raw }}
				</a>

				<div class="slogan">
					{{ companySlogan }}
				</div>

			</div>
			
			<nav class="nav">

				<ul class="pages">

				{% for page in mainNavPages %}

					{% set isSupport = page.slug == 'support' %}

					{% if isSupport %}
						<div class="pages-li-group">
					{% endif %}

					{% if page.slug != 'partners' %}

						<li class="pages-li">

							<div class="page-heading">
								{% if page.slug == 'product' %}
									Technology
								{% else %}
									{{ page.title }}
								{% endif %}
							</div>

							{% set subpages = page.children() %}

							{% if subpages | length %}

								<ul class="subpages">

								{% for subpage in subpages %}

									{% if subpage.slug != 'contact' %}
								
										<li class="subpages-li">

											{% if isSupport %}

												{% set isCustomerSupport = subpage.slug == 'customer-support' %}

												<a class="button" href="{{ subpage.slug }}" title="{% if isCustomerSupport %}Visit {% endif %}{{ subpage.title }}">

													{% if isCustomerSupport %}
														Visit
													{% endif %}

													{{ subpage.title }}

												</a>

											{% else %}
												
												<a class="subpage-link subpage-{{ loop.index }}" href="{% if subpage.slug == 'partners' %}{{ partnersIndexUrl }}{% else %}{{ subpage.url }}{% endif %}">{{ subpage.title }}</a>

											{% endif %}
											
										</li>

									{% endif %}

								{% endfor %}

								</ul>

							{% endif %}

						</li>

					{% endif %}

					{% if isSupport %}

						<li class="pages-li social">

							<div class="page-heading">
								Social
							</div>

							<ul class="subpages">
							
							{% if facebookUrl | length %}
							
								<li class="subpages-li">
									<a class="subpage-link" href="{{ facebookUrl }}" title="Facebook">
										{{ craft.inlin.er('/images/logos/facebook.svg') | raw }}
									</a>
								</li>

							{% endif %}

							{% if twitterUrl | length %}

								<li class="subpages-li">
									<a class="subpage-link" href="{{ twitterUrl }}" title="Twitter">
										{{ craft.inlin.er('/images/logos/twitter.svg') | raw }}
									</a>
								</li>

							{% endif %}

							{% if linkedInUrl | length %}

								<li class="subpages-li">
									<a class="subpage-link" href="{{ linkedInUrl }}" title="LinkedIn">
										{{ craft.inlin.er('/images/logos/linkedin.svg') | raw }}
									</a>
								</li>

							{% endif %}

							</ul>

						</li>

						</div>

					{% endif %}

				{% endfor %}

				</ul>

			</nav>

		</div>

		<div class="copyright">
			Copyright &copy; {{ now|date('Y') }} {{ siteName }}, Inc. All rights reserved.
			<a class="privacy-policy" href="#">[Privacy Policy]</a>
		</div>

	</div>

</footer>