{% set mainNavPages = craft.entries.section('pages').status('all').level(1) %}
{% set partnersIndexUrl = craft.entries.section('pages').slug('partners').status('all').first().children()[0].url %}
{% set companySlogan = footer.companySlogan | default('') %}
{% set facebookUrl = footer.socialFacebook | default('#') %}
{% set twitterUrl = footer.socialTwitter | default('#') %}
{% set linkedInUrl = footer.socialLinkedin | default('#') %}

<footer class="core-footer">

	<div class="global-wrapper">

		<div class="content-wrapper">

			{# {% include 'includes/partial/_subscribe' %} #}

			<div class="company-info">

				<a class="logo" href="{{ siteUrl }}" title="{{ siteName }}">
					{{ craft.inlin.er('/images/logos/syapse.svg') | raw }}
				</a>

				<div class="slogan">
					{{ companySlogan }}
				</div>

			</div>
			
			<nav class="nav">

				<ul class="pages">

				{% for section in navigationFooter.navigation %}

					{% switch section.type %}
					
						{% case "group" %}

							{% set subpages = section.pages %}

							<li class="pages-li">

								<div class="page-heading">
									
									{{ section.heading }}
									
								</div>

								{% if subpages | length %}

									<ul class="subpages">

									{% for subpage in subpages.status('all') %}
								
										<li class="subpages-li">

											{# if it's the partners page, link to the first child #}
											{% set url = subpage.slug == 'partners' ? subpage.getChildren().first().url : subpage.url %}
											<a class="subpage-link subpage-{{ loop.index }}" href="{{ url }}" title="{{ subpage.title }}">{{ subpage.title }}</a>
											
										</li>

									{% endfor %}

									</ul>

								{% endif %}

							</li>
					
							{% case "button" %}
							
								{% set page = section.page.first() %}
		
								<div class="pages-li-group">

									<li class="pages-li-group theme-hide-on-mobile">

										<div class="page-heading">
											{{ section.heading }}
										</div>

										<ul class="subpages">
											<li class="subpages-li">
												<a class="button" href="{{ page.url }}" title="{{ page.title }}">
													{{ section.buttonText }}
												</a>				
											</li>
										</ul>
								
									</li>		

									{% if section.showSocialIcons %}

										<li class="pages-li social">

											<div class="page-heading">
												Social
											</div>

											<ul class="subpages">
											
											{% if facebookUrl | length %}
											
												<li class="subpages-li">
													<a class="subpage-link" href="{{ facebookUrl }}" title="Facebook">
														{{ craft.inlin.er('/images/logos/facebook.svg') | raw }}
													</a>
												</li>

											{% endif %}

											{% if twitterUrl | length %}

												<li class="subpages-li">
													<a class="subpage-link" href="{{ twitterUrl }}" title="Twitter">
														{{ craft.inlin.er('/images/logos/twitter.svg') | raw }}
													</a>
												</li>

											{% endif %}

											{% if linkedInUrl | length %}

												<li class="subpages-li">
													<a class="subpage-link" href="{{ linkedInUrl }}" title="LinkedIn">
														{{ craft.inlin.er('/images/logos/linkedin.svg') | raw }}
													</a>
												</li>

											{% endif %}

											</ul>

										</li>	

									{% endif %}

								</div>											
								
						{% default %}
					
					{% endswitch %}
					
				{% endfor %}						

				</ul>

			</nav>

		</div>

		<div class="copyright">
			Copyright &copy; {{ now|date('Y') }} {{ siteName }}, Inc. All rights reserved.
			<a class="privacy-policy" href="{{ url('privacy-policy') }}">Privacy Policy</a>
		</div>

	</div>

</footer>