{% set mainNavPages = craft.entries.section('pages').status('all').level(1) %}
{% set supportIndex = craft.entries.section('pages').slug('support').status('all').first().children()[0] %}

<header class="core-header">

	<div class="core-wrapper">

		<a class="logo" href="{{ siteUrl }}" title="{{ siteName }}">
			{{ craft.inlin.er('/images/logos/syapse.svg') | raw }}
		</a>

		<button class="nav-button" type="button">
			<div class="line one"></div>
			<div class="line two"></div>
			<div class="line three"></div>
		</button>
		
		<nav class="nav">

			<ul class="pages">
				
				{% for section in navigationMain.navigation %}

					{% switch section.type %}
					
						{% case "group" %}

							{% set subpages = section.pages %}
							{% set pageSection = section.pages.first().uri | split("/")[0] %}

							<li class="pages-li {% if craft.request.getFirstSegment() == pageSection %}active{% endif %}">

								<div class="page-heading">
									
									{{ section.heading }}

									{% if subpages | length %}
										{{ craft.inlin.er('/images/ui/icon-triangle-down.svg') | raw }}
									{% endif %}
									
								</div>

								{% if subpages | length %}

									<ul class="subpages">

									{% for subpage in subpages %}

										<li class="subpages-li">
											<a class="subpage-link subpage-{{ loop.index }}" href="{{ subpage.url }}">{{ subpage.title }}</a>
										</li>

									{% endfor %}

									</ul>

								{% endif %}						

							</li>
					
						{% case "button" %}

							{% set page = section.page.first() %}
							
							<a class="button pages-button" href="{{ page.url }}" title="{{ page.title }}">
								{{ page.title }}
							</a>
					
						{% default %}
					
					{% endswitch %}
					
				{% endfor %}

				{# Mobile only Support links #}

				<li class="pages-li mobile-support-pages">

					<ul class="subpages">

						{% set supportPages = craft.entries.section('pages').slug('support').status('all').first().children() %}

						{% for page in supportPages %}
							
							<li class="subpages-li">
								<a class="subpage-link subpage-{{ loop.index }}" href="{{ page.url }}">
									{{ page.title }}
								</a>
							</li>

						{% endfor %}

					</ul>

				</li>

			</ul>

		</nav>

	</div>

</header>