.home-header {

	.global-wrapper {
		@include sectionPadding;
		position: relative;
	}

	.heading {
		margin-bottom: 20px;
		font-size: 72px;
		background: -webkit-linear-gradient(45deg, $buttonBlue, #635FEB);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.hero-line-horizontal-container {
		width: calc(66.6% - 144px);
		max-width: 100%;
	}

	.hero-cta-container {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 80px 100px;
	}

	.hero-cta {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		width: calc(33.3% - 25px);
		margin: 0 20px;
	}

	.icon-line {
		position: absolute;
		top: -104px;
		left: 34px;
	}

	.hero-cta-3 .icon-line {
		left: -6px;
	}

	.icon {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 72px;
	}

	.cta-info {
		width: calc(100% - 72px);
		margin-top: 15px;
		margin-left: 112px;
	}

	.cta-description {
		font-size: 16px;
	}

	.link {
		display: inline-block;
		position: relative;
		margin-top: 20px;
		font-size: 16px;
		color: $defaultColor;
		transition: color 0.15s ease-in-out;
	}

	.link:after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background-color: $defaultColor;
		transition: background-color 0.15s ease-in-out;
	}

	.link:hover {
		color: $buttonBlue;
	}

	.link:hover:after {
		background-color: $buttonBlue;
	}

	@media screen and (max-width: 1130px) {

		.cta-info {
			margin-left: 92px;
		}

	}

	@media screen and (max-width: 1070px) {

		.cta-description {
		    font-size: 14px;
		}

	}

	@media screen and (max-width: 1023px) {

		.heading {
			font-size: 36px;
		}

	}

	@media screen and (max-width: 960px) and (min-width: 641px) {

		.cta-info {
			width: 100%;
			margin-left: 0;
			margin-top: 102px;
		}

	}

	@media screen and (max-width: 767px) {

		.icon-line {
			top: -54px;
		}

		.link {
			font-size: 14px;
		}

	}

	@media screen and (max-width: 640px) {

		.cta-line-vertical {
			position: absolute;
			top: 0;
			left: 38px;
			width: 3px;
			height: calc(100% - 40px);
			background-color: #27b8d4;
		}

		.hero-info {
			padding-bottom: 0;
		}

		.hero-line-vertical {
			height: calc(100% - 162px);
		}

		.hero-line-bottom-container, 
		.hero-line-horizontal-container {
			display: none;
		}

		.hero-cta-container {
			flex-wrap: wrap;
			padding-bottom: 40px;
		}

		.hero-cta {

			position: relative;
			width: 100%;
			margin: 0;

			&:not(:last-of-type) {
				margin-bottom: 40px;
			}

		}

		.hero-cta-3:before {
			content: '';
			position: absolute;
			top: 0;
			left: -80px;
			width: 80px;
			height: 100%;
			background-color: $superLightGray;
		}

		.hero-cta-1, 
		.hero-cta-2 {

			&:after {
				content: '';
				position: absolute;
				top: 27px;
				left: -39px;
				width: 40px;
				height: 3px;
				background-color: #27b8d4;
			}

		}

		.hero-cta-3:after {
			content: '';
			position: absolute;
			top: -7px;
			left: -42.5px;
			width: 54px;
			height: 38px;
			background: url('/images/ui/hero-home-line-cta-3-mobile.svg') no-repeat center center;
		}

		.icon-line {
			display: none;
		}

		.icon {
			width: 50px;
		}

		.cta-info {
			margin-left: 70px;
		}

	}

	@media screen and (max-width: 420px) {

		.hero-cta-container {
			padding-left: 40px;
			padding-right: 40px;
		}

		.cta-line-vertical {
			left: 18px;
		}

		.hero-cta-1, 
		.hero-cta-2 {

			&:after {
				left: -20px;
			}

		}

		.hero-cta-3:after {
			top: -4px;
			left: -22.5px;
		}

		.cta-info {
			width: 100%;
			margin-left: 0;
			margin-top: 74px;
		}

	}

	@media screen and (max-width: 413px) {

		.heading {
			font-size: 26px;
		}

	}

}