// Core Header
.core-header {

	&.sticky {
		background-color: rgba(255,255,255,0.98);
	}

	@media screen and (min-width: 930px) {

		&.sticky {

			padding-top: 15px;
			padding-bottom: 5px;

			.logo svg {
				max-width: 96px;
			}

			.page-heading {
				font-size: 16px;
			}

			.nav .button {
				min-height: 32px;
				padding-top: 8px;
				padding-bottom: 8px;
				font-size: 12px;
			}

		}

	}

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 30px 80px 20px;
	background-color: $superLightGray;
	transition: background-color 0.15s ease-in-out, padding 0.15s ease-in-out;

	.core-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}

	.logo {

		margin-right: 40px;

		svg {
			width: 100%;
			max-width: 116px;
			height: auto;
			transition: max-width 0.15s ease-in-out;
		}

	}

	.nav-button {
		display: none;
	}

	ul {
		margin: 0;
		padding-left: 0;
	}

	.pages-li {
		display: inline-block;
		position: relative;
		padding-right: 40px;
	}

	// .pages-button {
	// 	margin-left: 40px;
	// }

	.pages-li:hover {

		color: $buttonBlue;

		.page-heading svg path {
			fill: $buttonBlue;
		}

		> .subpages {
			display: block;
		}

	}

	@media screen and (min-width: 930px) {

		.pages-li.active {

			position: relative;
			color: $buttonBlue;

			.page-heading:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 15px;
				width: calc(100% - 58px);
				height: 2px;
				background-color: $buttonBlue;
			}

			.page-heading svg path {
				fill: $buttonBlue;
			}

		}

	}

	.page-heading {

		cursor: default;
		display: inline-block;
		font-size: 18px;
		padding-bottom: 20px;
		transition: color 0.15s ease-in-out;

		svg {

			position: relative;
			top: -3px;
			margin-left: 5px;

			path {
				transition: fill 0.15s ease-in-out;
			}

		}

		@media screen and (min-width: 930px) {
			@include anti-alias;
		}

	}

	.subpages {
		display: none;
		position: absolute;
		top: 100%;
		left: -30px;
		z-index: 1;
		width: 230px;
		padding: 20px 30px;
		background-color: rgba(244, 245, 246, 0.94);
		// box-shadow: 0 2px 10px 0 rgba(40,42,80,0.04);
	}

	.subpages-li {
		display: block;
		width: 100%;
	}

	.subpages-li:not(:last-of-type) {
		margin-bottom: 15px;
	}

	.subpage-link {

		@include anti-alias;
		display: block;
		width: 100%;
		font-size: 16px;
		color: $defaultColor;
		transition: color 0.15s ease-in-out;

		&:hover {
			color: $buttonBlue;
		}

	}

	// Responsive

	@media screen and (max-width: 1040px) {

		.logo {
			margin-right: 30px;
		}

		.pages-li {
			padding-right: 20px;
		}

		// .pages-button {
		// 	margin-left: 20px;
		// }

		.page-heading {
			font-size: 16px;
		}

		.pages-li.active .page-heading:after {
			width: calc(100% - 38px);
		}

	}

	@media screen and (max-width: 929px) {

		.logo svg {
			vertical-align: middle;
		}

		.nav {
			display: none;
		}

		.nav-button {
			position: relative;
			cursor: pointer;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			padding-left: 15px;
			padding-right: 15px;
			width: 48px;
			height: 48px;
			border: none;
			background-color: transparent;
		}

		.nav-button .line {
			width: 18px;
			height: 2px;
			background: #727273;
			transition: all 0.15s ease-in-out;
		}

		.nav-button .line.one {
			margin-bottom: 3px;
		}

		.nav-button .line.two {
			transform: scale(1);
    		opacity: 1;
		}

		.nav-button .line.three {
			margin-top: 3px;
		}

		.nav-button:hover .line {
			background: $buttonBlue;
		}

		.nav-button.close .line.one {
			position: absolute;
			top: calc(50% - 1px);
			left: calc(50% - 9px;
			transform: rotate(45deg);
		}

		.nav-button.close .line.two {
			opacity: 0;
		}

		.nav-button.close .line.three {
			position: absolute;
			top: calc(50% - 1px);
			left: calc(50% - 9px;
			margin-top: 0;
			transform: rotate(-45deg);
		}

	}

	@media screen and (max-width: 929px) {

		padding: 0 20px;

		.logo {
			max-width: 80px;
		}

	}

}

// Mobile Navigation

@media screen and (min-width: 930px) {

	.core-header .pages-li.mobile-support-pages {
		display: none;
	}

}

@media screen and (max-width: 929px) {

	.pages-button {
		display: none;
	}

	.nav-open .core-header .nav {

		display: block;
		position: fixed;
		top: 48px;
		left: 0;
		z-index: 3;
		width: 100%;
		height: calc(100vh - 48px);
		padding: 20px;
		background-color: #fff;
		overflow: hidden;
		overflow-y: scroll;

		.pages {
			display: flex;
			flex-wrap: wrap;
		}

		.pages-li {
			width: 33.3%;
			margin-bottom: 30px;
			padding-left: 0;
			padding-right: 10px;
		}

		.page-heading {

			padding-bottom: 10px;
			color: #3F3F3F;
			font-weight: 500;

			svg {
				display: none;
			}

		}

		.subpages {
			display: block;
			position: static;
			padding: 0;
			width: 100%;
			background-color: transparent;
		}

		.subpages-li {
			list-style: none;
		}

		.subpages-li:not(:last-of-type) {
			margin-bottom: 10px;
		}

		.subpage-link {
			font-size: 14px;
		}

		.mobile-support-pages {

			margin-top: 10px;

			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				margin-bottom: 17px;
				background: linear-gradient(to right, #21c2d2 0%, #635feb 100%);
				border-radius: 3px;
			}

		}

	}

}

@media screen and (max-width: 567px) {

	.nav-open .core-header .nav {

		.pages-li {
			width: 50%;
		}

	}

}

// Core Content
.core-content {
	@include clearfix;
	width: 100%;
	padding-top: 90px;

// Responsive

	@media screen and (max-width: 929px) {

		padding-top: 48px;

	}

}

// Core Footer
.core-footer {

	padding: 80px 80px 190px;
	background-color: $lightGray;

	.global-wrapper {
		position: relative;
	}

	.content-wrapper {
		@include clearfix;
		width: 100%;
	}

	// Subscribe
	.subscribe {

		margin-bottom: 85px;
		padding-bottom: 35px;
		border-bottom: 1px solid #DFE0E4;

		label {
			display: inline-block;
			margin-right: 20px;
			font-size: 20px;
			font-weight: 500;
			// line-height: em;
			color: $darkGray;
		}

		input {
			position: relative;
			top: -3px;
			margin-right: 20px;
			margin-bottom: 0;
		}

		button {
			position: relative;
			top: -3px;
		}

	}

	// Company Info
	.company-info {
		float: left;
		margin-bottom: 30px;
		padding-right: 50px;
		width: 230px;
	}

	.slogan {
		font-size: 18px;
		line-height: 1.5em;
	}

	// Nav
	.nav,
	.pages {
		@include clearfix;
	}

	.pages, 
	.subpages {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.nav {
		@include clearfix;
		float: left;
		width: calc(100% - 230px);
	}

	.pages-li {
		float: left;
		margin-bottom: 30px;
		padding-right: 20px;
		width: 20%;
	}

	.pages-li-group {
		clear: both;
		margin-top: 30px;
	}

	.pages-li-group > .pages-li-group {
		float: left;
		margin-bottom: 0;
	}

	.pages-li-group .pages-li {
		float: left;
		margin-right: 0;
		padding-right: 0;
	}

	.pages-li-group .subpages-li {
		margin-bottom: 0;
	}

	.page-heading {
		cursor: default;
		margin-bottom: 0.7em;
		font-size: 20px;
	}

	.subpages-li {
		margin-bottom: 0.5em;
	}

	.subpage-link {

		font-size: 14px;
		color: $defaultColor;
		transition: color 0.15s ease-in-out;

		&:hover {
			color: $buttonBlue;
		}

	}

	.subpages .button {
		padding-left: 12px;
		padding-right: 12px;
	}

	// Social
	.social {

		// .page-heading {
		// 	margin-bottom: 5px;
		// }

		margin-top: 30px;
		margin-left: 30px;
		margin-bottom: 0;

		.subpages {
			display: flex;
			// align-items: center;
			min-height: 36px;
		}

		.subpages-li {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 0;
			height: 25px;
		}

		a {
			display: inline-block;
			width: 25px;
			height: 25px;
		}

		a svg {

			width: 100%;

			circle {
				transition: stroke 0.15s ease-in-out;
			}

			path {
				transition: fill 0.15s ease-in-out;
			}

		}

		a:hover svg {

			circle {
				stroke: $buttonBlue;
			}

			path {
				fill: $buttonBlue;
			}

		}

	}

	// Copyright
	.copyright {
		@include clearfix;
		width: calc(100% - 230px);
		margin-top: 20px;
		margin-left: 230px;
		font-size: 14px;
	}

	.copyright br {
		display: none;
	}

	.privacy-policy {

		margin-left: 30px;
		color: $defaultColor;
		transition: color 0.15s ease-in-out;

		&:hover {
			color: $buttonBlue;
		}

	}

// Responsive

	@media screen and (max-width: 1100px) {

		.subscribe {
			margin-bottom: 40px;
		}

		.company-info {
			float: none;
			width: 100%;
			margin-bottom: 40px;
			padding-right: 0;
		}

		.nav {
			float: none;
			width: 100%;
		}

		.copyright {
			margin-left: 0;
			width: 100%;
		}

	}

	@media screen and (max-width: 960px) {

		// Subscribe
		.subscribe {

			margin-bottom: 40px;
			padding-bottom: 40px;

			label {
				width: 100%;
				margin-bottom: 20px;
			}

			button {
				top: 0;
			}

		}

	}

	@media screen and (max-width: 870px) {

		.pages-li {
			width: 33.3%;
		}

		.pages-li-group {
			clear: none;
			float: left;
			width: 33.3%;
			margin-top: 0;
		}

		.pages-li-group > .pages-li-group {
			width: 100%;
		}

		.pages-li-group .pages-li.social {
			margin-left: 0;
			margin-top: 20px;
		}

		.copyright {
			margin-top: 0;
			text-align: left;
		}

		.privacy-policy {
			display: inline-block;
			margin-top: 5px;
			margin-left: 0;
		}

	}

	@media screen and (max-width: 870px) and (min-width: 768px) {

		.pages-li:nth-child(3n+1) {
			clear: left;
		}

	}

	@media screen and (max-width: 767px) {

		@include sectionPadding;

		// Subscribe
		.subscribe {

			margin-bottom: 40px;
			padding-bottom: 40px;

			label {
				margin-bottom: 20px;
			}

			button {
				width: 100%;
				max-width: 300px;
				margin-top: 20px;
			}

		}

		.slogan {
			@include anti-alias;
			font-size: 16px;
			margin-top: 5px;
		}

		.page-heading {
			font-size: 18px;
			color: $darkGray;
		}

		.pages-li {
			width: 50%;
		}

		.pages-li:nth-child(2n+1) {
			clear: left;
		}

		.pages-li-group {
			width: 50%;
		}

		.subpage-link, 
		.copyright {
			font-size: 12px;
		}

	}

	@media screen and (max-width: 420px) {

		.subpages .button {
			padding-top: 11px;
			font-size: 11px;
		}

	}

	@media screen and (max-width: 340px) {

		.global-wrapper {
			padding-left: 0;
			padding-right: 0;
		}

	}

}
