// Core Header
.core-header {

	// &.sticky {
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// }

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 60px 80px;
	background-color: rgba(255,255,255,0.98);

	.core-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.logo {

		margin-right: 40px;

		svg {
			width: 100%;
			max-width: 116px;
			height: auto;
		}

	}

	.nav-button {
		display: none;
	}

	ul {
		margin: 0;
		padding-left: 0;
	}

	.pages-li {
		display: inline-block;
		position: relative;
		padding-left: 40px;
	}

	.pages-li:last-of-type {
		margin-right: 40px;
	}

	.pages-li:hover {

		color: $buttonBlue;

		.page-heading svg path {
			fill: $buttonBlue;
		}

		> .subpages {
			display: block;
		}

	}

	.page-heading {

		@include anti-alias;
		cursor: default;
		display: inline-block;
		font-size: 18px;
		padding-bottom: 20px;
		transition: color 0.15s ease-in-out;

		svg {

			position: relative;
			top: -3px;
			margin-left: 5px;

			path {
				transition: fill 0.15s ease-in-out;
			}

		}

	}

	.subpages {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1;
		width: 260px;
		padding: 25px 35px 35px;
		background-color: $lightGray;
	}

	.subpages-li {
		display: block;
		width: 100%;
	}

	.subpages-li:not(:last-of-type) {
		margin-bottom: 20px;
	}

	.subpage-link {

		@include anti-alias;
		display: block;
		width: 100%;
		font-size: 16px;
		color: $defaultColor;
		transition: color 0.15s ease-in-out;

		&:hover {
			color: $buttonBlue;
		}

	}

	// Responsive

	@media screen and (max-width: 1180px) {

		.logo {
			margin-right: 30px;
		}

		.pages-li {
			padding-left: 20px;
		}

		.pages-li:last-of-type {
			margin-right: 20px;
		}

		.page-heading {
			font-size: 16px;
		}

	}

	@media screen and (max-width: 1023px) {

		.logo svg {
			vertical-align: middle;
		}

		.nav {
			display: none;
		}

		.nav-button {
			position: relative;
			cursor: pointer;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			padding-left: 15px;
			padding-right: 15px;
			width: 48px;
			height: 48px;
			border: none;
			background-color: transparent;
		}

		.nav-button .line {
			width: 18px;
			height: 2px;
			background: #727273;
			transition: all 0.15s ease-in-out;
		}

		.nav-button .line.one {
			margin-bottom: 3px;
		}

		.nav-button .line.two {
			transform: scale(1);
    		opacity: 1;
		}

		.nav-button .line.three {
			margin-top: 3px;
		}

		.nav-button:hover .line {
			background: $buttonBlue;
		}

		.nav-button.close .line.one {
			position: absolute;
			top: calc(50% - 1px);
			left: calc(50% - 9px;
			transform: rotate(45deg);
		}

		.nav-button.close .line.two {
			opacity: 0;
		}

		.nav-button.close .line.three {
			position: absolute;
			top: calc(50% - 1px);
			left: calc(50% - 9px;
			margin-top: 0;
			transform: rotate(-45deg);
		}

	}

	@media screen and (max-width: 767px) {

		padding: 0 20px;

		.logo {
			max-width: 80px;
		}

	}

}

// Core Content
.core-content {

	@include clearfix;
	width: 100%;
	padding-top: 166px;

// Responsive

	@media screen and (max-width: 767px) {

		padding-top: 48px;

	}

}

// Core Footer
.core-footer {

	padding: 40px 80px 60px;
	background-color: $lightGray;

	.content-wrapper {
		@include clearfix;
		width: 100%;
	}

	// Subscribe
	.subscribe {

		margin-bottom: 85px;
		padding-bottom: 35px;
		border-bottom: 1px solid #DFE0E4;

		label {
			display: inline-block;
			margin-right: 20px;
			font-size: 20px;
			font-weight: 500;
			// line-height: em;
			color: $darkGray;
		}

		input {
			position: relative;
			top: -3px;
			margin-right: 20px;
			margin-bottom: 0;
		}

		button {
			position: relative;
			top: -3px;
		}

	}

	// Company Info
	.company-info {
		float: left;
		margin-bottom: 30px;
		padding-right: 50px;
		width: 230px;
	}

	.slogan {
		font-size: 18px;
		line-height: 1.5em;
	}

	// Nav
	.nav,
	.pages {
		@include clearfix;
	}

	.pages, 
	.subpages {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.nav {
		@include clearfix;
		float: left;
		width: calc(100% - 230px);
	}

	.pages-li {
		float: left;
		margin-bottom: 30px;
		padding-right: 20px;
		width: calc(25% - 45px);
	}

	.pages-li-group {
		float: left;
		margin-bottom: 30px;
		width: 180px;
	}

	.pages-li-group .pages-li {
		margin-right: 0;
		padding-right: 0;
		width: 100%;
	}

	.page-heading {
		cursor: default;
		margin-bottom: 0.7em;
		font-size: 20px;
	}

	.subpages-li {
		margin-bottom: 0.5em;
	}

	.subpage-link {
		font-size: 14px;
		color: $defaultColor;
	}

	.subpages .button {
		padding-left: 12px;
		padding-right: 12px;
	}

	// Social
	.social {

		.page-heading {
			margin-bottom: 5px;
		}

		.subpages-li {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 0;
		}

		a {
			display: inline-block;
			width: 25px;
			height: 25px;
		}

		a svg {

			width: 100%;

			circle {
				transition: stroke 0.15s ease-in-out;
			}

			path {
				transition: fill 0.15s ease-in-out;
			}

		}

		a:hover svg {

			circle {
				stroke: $buttonBlue;
			}

			path {
				fill: $buttonBlue;
			}

		}

	}

	// Copyright
	.copyright {
		@include clearfix;
		width: 100%;
		margin-top: 60px;
		font-size: 14px;
		text-align: center;
	}

	.privacy-policy {
		margin-left: 30px;
		color: $defaultColor;
	}

// Responsive

	@media screen and (max-width: 1100px) {

		.subscribe {
			margin-bottom: 40px;
		}

		.company-info {
			float: none;
			width: 100%;
			margin-bottom: 40px;
			padding-right: 0;
		}

		.nav {
			float: none;
			width: 100%;
		}

	}

	@media screen and (max-width: 960px) {

		// Subscribe
		.subscribe {

			margin-bottom: 40px;
			padding-bottom: 40px;

			label {
				width: 100%;
				margin-bottom: 20px;
			}

			button {
				top: 0;
			}

		}

	}

	@media screen and (max-width: 870px) {

		.pages-li {
			width: 25%;
		}

		.pages-li-group {
			width: 100%;
			margin-bottom: 0;
		}

		.copyright {
			margin-top: 0;
			text-align: left;
		}

		.privacy-policy {
			display: inline-block;
			margin-top: 5px;
			margin-left: 0;
		}

	}

	@media screen and (max-width: 767px) {

		@include sectionPadding;

		// Subscribe
		.subscribe {

			margin-bottom: 40px;
			padding-bottom: 40px;

			label {
				margin-bottom: 20px;
			}

			button {
				width: 100%;
				max-width: 300px;
				margin-top: 20px;
			}

		}

		.slogan {
			@include anti-alias;
			font-size: 16px;
			margin-top: 5px;
		}

		.page-heading {
			font-size: 18px;
			color: $darkGray;
		}

		.pages-li {
			width: 50%;
		}

		.subpage-link, 
		.copyright {
			font-size: 12px;
		}

	}

}
