//  Colors

$defaultColor: #4A4A4A;
$hrColor: #EFEFEF;
$lightGray: #F4F5F6;
$darkGray: #3F3F3F;
$buttonBlue: #21C2D2;

// Global

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	width: 100vw;
	overflow-x: hidden;
	// background-color: #f9f9f9;
	color: $defaultColor;
}

.global-wrapper {
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

::selection {
	// color: #fff;
	// background: #222;
}

a {
	text-decoration: none;
}

input {
	width: 300px;
	max-width: 100%;
	margin-bottom: 30px;
	padding-top: 0;
	padding-bottom: 4px;
	border: none;
	border-bottom: 1px solid #D2D2D2;
	background-color: transparent;
}

button {
	cursor: pointer;
}

.button, 
button:not([type="button"]) {

	display: inline-block;
	min-height: 36px;
	padding: 9px 50px 10px;
	border: 1px solid $buttonBlue;
	border-radius: 6px;

	background-color: transparent;

	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

	&:hover {
		background-color: $buttonBlue;
	}

}

.button[type="submit"], 
button[type="submit"] {
	padding: 9px 70px 6px;
}

textarea {
	width: 100%;
	margin-bottom: 30px;
	padding-top: 0;
	padding-bottom: 4px;
	border: none;
	border-bottom: 1px solid #D2D2D2;
	background-color: transparent;
}
