//  Colors

$defaultColor: #4A4A4A;
$hrColor: #EFEFEF;
$superLightGray: #F9FAFB;
$lightGray: #F4F5F6;
$darkGray: #3F3F3F;
$buttonBlue: #21C2D2;

// Global

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	width: 100vw;
	overflow-x: hidden;
	// background-color: #f9f9f9;
	color: $defaultColor;
}

.global-wrapper {
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

::selection {
	// color: #fff;
	// background: #222;
}

a {
	text-decoration: none;
}

input {
	width: 300px;
	max-width: 100%;
	margin-bottom: 30px;
	padding-top: 0;
	padding-bottom: 4px;
	border: none;
	border-bottom: 1px solid #D2D2D2;
	background-color: transparent;
	outline: 0;
}

button {
	cursor: pointer;
}

.button, 
button:not([type="button"]) {

	display: inline-block;
	min-height: 36px;
	padding: 9px 50px;
	border: 1px solid $buttonBlue;
	border-radius: 6px;

	background-color: transparent;

	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

	&:hover, 
	&:focus {
		color: #fff;
		background-color: $buttonBlue;
	}

}

.button[type="submit"], 
button[type="submit"] {
	padding: 9px 70px 6px;
}

textarea {
	width: 100%;
	margin-bottom: 30px;
	padding-top: 0;
	padding-bottom: 4px;
	border: none;
	border-bottom: 1px solid #D2D2D2;
	background-color: transparent;
	outline: 0;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $hrColor;
    margin: 1em 0;
    padding: 0;
}

// Modal

.modal {

	.modal-open & {
		display: block;
	}

	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate3d(-50%, -50%, 0);
	width: 100%;
	min-width: 300px;
	max-width: 660px;
	max-height: 100vh;
	padding: 60px;
	background-color: $superLightGray;
	box-shadow: 0 0 54px 0 rgba(40,42,80,0.12);

	.modal-close {

		cursor: pointer;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}

	.modal-title {
		margin-bottom: 40px;
	}

	.modal-info {
		max-height: calc(100vh - 150px);
		overflow-y: auto;
		padding-right: 30px;
	}

	.video-container {

		position: relative;
		width: 500px;
		max-width: 100%;
		padding-bottom: 56.25%; /* 16:9 */

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}

	@media screen and (max-width: 767px) {

		width: 100%;
		height: 100%;
		padding: 60px 20px 40px 40px;

		.modal-info {
			height: 100%;
			max-height: 100%;
		}

	}

}

.modal-cover {

	.modal-open & {
		display: block;
	}

	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, 0.75);

}

// Hero line

.hero-line-left {
	position: absolute;
	top: 100px;
	width: calc(100vw - 1319px);
	height: 4px;
	transform: scaleX(0.5);
	transform-origin: right center;
	left: calc(-100vw + 1280px);
}

.hero-line-top {
	position: absolute;
	top: 100px;
	left: -40px;
}

.hero-line-vertical {
	position: absolute;
	top: 212px;
	left: 38px;
	width: 3px;
	height: calc(100% - 383px);
	background-color: #27b8d4;
}

.hero-info {
	max-width: 970px;
	min-height: 180px;
	padding: 0 80px 80px;
}

.hero-line-bottom-container {
	position: absolute;
	bottom: 100px;
	left: 38px;
	width: 96px;
	height: 171px;
	max-height: calc(100% - 240px);
	overflow: hidden;
}

.hero-line-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
}

.hero-line-horizontal-container {
	position: absolute;
	bottom: 100px;
	left: 134px;
	overflow: hidden;
	width: calc(100% - 374px);
	max-width: 897px;
}

.hero-line-horizontal {
	vertical-align: bottom;
}

.hero-icon {
	position: absolute;
	right: 178px;
	bottom: 60px;
}

@media screen and (max-width: 767px) {

	.global-wrapper {
		padding: 20px;
	}

	.hero-line-top {
		top: 50px;
	}

	.hero-line-vertical {
		top: 162px;
		height: calc(100% - 250px);
	}

	.hero-info {
		min-height: 200px;
		padding-top: 40px;
	}

	.hero-line-bottom-container, 
	.hero-line-horizontal-container {
		bottom: 50px;
	}

	.hero-line-horizontal-container {
		 width: calc(100% - 274px);
	}

	.hero-icon {
		right: 110px;
		bottom: 35px;
		width: 30px;
	}

}

@media screen and (max-width: 420px) {

	.hero-line-top {
		left: -60px;
	}

	.hero-line-vertical {
		left: 18px;
		height: calc(100% - 413px);
	}

	.hero-info {
		padding: 40px 20px 80px;
	}

	.hero-line-bottom-container {
		position: absolute;
		bottom: 80px;
		left: 18px;
	}

	.hero-line-horizontal-container {
		bottom: 80px;
		left: 114px;
		width: calc(100% - 184px);
	}

	.hero-icon {
		right: 40px;
		bottom: 65px;
	}

}