// Global

@mixin theme-hide-on-desktop {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

@mixin theme-hide-on-mobile {
	@media screen and (max-width: 767px) {
		display: none;
	}
}

// Layout

@mixin sectionPadding {

	padding: 100px 80px;

	@media screen and (max-width: 767px) {
		padding: 50px 20px;
	}

}

@mixin wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 30px;
}

@mixin center-x-y {
	justify-content: center;
	align-items: center;
}

@mixin clearfix {

	&:before,
	&:after {
		content: " "; 
		display: table; 
	}

	&:after {
		display: block;
		clear: both;
		height: 1px;
		margin-top: -1px;
		visibility: hidden;
	}

	& {
		*zoom: 1;
	}

}

// Typography

@mixin anti-alias {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}
