.standard-hero {

	.global-wrapper {
		@include sectionPadding;
		position: relative;
	}

	.pre-heading {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.heading {
		margin-bottom: 20px;
		font-size: 72px;
		background: -webkit-linear-gradient(45deg, $buttonBlue, #635FEB);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@media screen and (max-width: 1023px) {

		&:not(.hero-short) .heading {
			font-size: 36px;
		}

	}

	@media screen and (max-width: 480px) {

		.heading {
			font-size: 36px;
		}

		&.hero-short .heading {
			padding-top: 0.5em;
		}

	}

	@media screen and (max-width: 413px) {

		&:not(.hero-short) .heading {
			font-size: 26px;
		}

	}

}