.standard-hero, 
.standard-news-hero {

	.global-wrapper {
		@include sectionPadding;
	}

	.pre-heading {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.heading {
		margin-bottom: 20px;
		font-size: 72px;
		background: -webkit-linear-gradient(45deg, $buttonBlue, #635FEB);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@media screen and (max-width: 767px) {

		.heading {
			font-size: 36px;
		}

	}

}

.standard-news-hero {

	.global-wrapper {
		padding-top: 150px;
	}

	// .pre-heading {
	// 	margin-bottom: 30px;
	// }

	.heading {
		font-size: 36px;
	}

}