.theme-darker-background {
	background-color: $lightGray;
}

.theme-colored-button .button, 
.theme-colored-button button {
	background-color: $buttonBlue;
	color: #fff;
}

.theme-colored-button .button:hover, 
.theme-colored-button button:hover {
	background-color: transparent;
	color: $buttonBlue;
}

div.theme-reduce-top-spacing {
	padding-top: 0;
}

@media screen and (min-width: 768px) {
	.theme-hide-on-desktop {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.theme-hide-on-mobile {
		display: none !important;
	}
}