body {
	// @include anti-alias;
	font-family: "museo-sans", sans-serif;
	font-size: 18px;
	color: $defaultColor;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.6em;
	color: $buttonBlue;
}

// h1 {
// 	font-size: px;
// 	line-height: em;
// 	color: #;
// }

h2 {
	font-size: 36px;
	font-weight: 500;
	// line-height: em;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	color: $defaultColor;
}

h4 {
	font-size: 20px;
	font-weight: 500;
	// line-height: em;
	color: $defaultColor;
}

h5 {
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	color: $defaultColor;
}

// h6 {
// 	font-size: px;
// 	line-height: em;
// 	color: #;
// }

p {

	@include anti-alias;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	line-height: 1.7em;

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

}

// label {
// 	font-size: px;
// 	line-height: em;
// 	color: #;
// }

input, 
textarea {
	@include anti-alias;
	font-family: "museo-sans", sans-serif;
	font-size: 14px;
}

.button, 
button:not([type="button"]) {

	font-family: "museo-sans", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;

	color: $buttonBlue;

	&:hover {
		background-color: $buttonBlue;
		color: #fff;
	}

}

.theme-colored-button {
	.button, 
	button:not([type="button"]) {
		font-weight: 700;
	}
}

@media screen and (max-width: 767px) {

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}

	p {
		font-size: 14px;
	}

}