{# Has access to theBlock #}
{% set themes = helpers.getThemes(theBlock.themes) | trim %}
{% set heading = theBlock.heading | default("") %}
{% set resources = theBlock.resources %}

<div class="resources-multiple {{ themes }}">

    <div class="global-wrapper">

        {% if heading != "" %}
            
            <h2>{{ heading }}</h2>

        {% endif %}

        <ul class="resource-list">

            {% for resource in resources %}

                {% set title = resource.title | default('') %}
                {% set link = resource.url | default('#') %}
                {% set image = "/images/ui/resource-arrow.svg" | default("http://via.placeholder.com/40x40") %}

                <li class="resource">
                
                    <div class="image" style="background-image: url('{{ image }}');"></div>

                    <div class="info">

                        <div class="title">{{ title }}</div>

                        <div class="button-container">
                            {{ helpers.buildResourceButton( { article: resource } ) }}
                        </div>

                    </div>

                </li>
                
            {% endfor %}

        </ul>

    </div>

</div>
