{# Has access to theBlock #}
{% set themes = helpers.getThemes(theBlock.themes) | trim %}
{% set heading = theBlock.heading | default("") %}
{% set resources = theBlock.resources %}

<div class="resources-multiple {{ themes }}">

    {% if heading != "" %}
        
        <h2>{{ heading }}</h2>

    {% endif %}

    <ul class="resource-list">

        {% for resource in resources %}

            {% set title = resource.title | default('') %}

            <li class="resource-item">
            	<a class="resource-link" href="{{ resource.url }}">
            		{{ title }}
            	</a>
            </li>
            
        {% endfor %}

    </ul>

</div>
