{# Has access to theBlock #}
{% set themes = helpers.getThemes(theBlock.themes) | trim %}
{% set heading = theBlock.title | default("") %}
{% set resource = theBlock.resources.first() %}
{% set title = resource.title | default('') %}
{% set link = resource.url | default('#') %}

{# get the resource icon #}

{% if resource.externalLink != "" %}
    {# Read article #}
    {% set image = '/images/ui/resources-article.svg' | default("http://via.placeholder.com/180x130") %}                             
{% endif %}                               

{% if resource.download.count() %}
    {# Download #}
    {% set image = '/images/ui/resources-PDF.svg' | default("http://via.placeholder.com/180x130") %}
{% endif %}                            

{% if resource.videoEmbed != "" %}
    {# Watch video #}
    {% set image = '/images/ui/resources-video.svg' | default("http://via.placeholder.com/180x130") %}                               
{% endif %}    

{% if resource.iframe !="" %}
    {# Download #}
    {% set image = '/images/ui/resources-PDF.svg' | default("http://via.placeholder.com/180x130") %}
{% endif %}

<div class="resources-single {{ themes }}">

	<div class="global-wrapper">

	    {% if heading != "" %}
	        
	        <h2>{{ heading }}</h2>

	    {% endif %}
	    
	    <div class="resource">
	        
	        <div class="image" style="background-image: url('{{ image }}');"></div>

	        <div class="info">
		        <div class="title">{{ title | typogrify }}</div>
			</div>

			<div class="button-container">

				{{ helpers.buildResourceButton( { article: resource } ) }}

			</div>

	    </div>

	</div>
    
</div>
