{% macro ctaBuilder(params) %}
    
    {% set text = params.text %}
    {% set internalLink = params.internalLink.url | default("") %}
    {% set externalLink = params.externalLink | default("") %}
    {% set url = internalLink | default(externalLink) %}    
    {% set classes = params.classes | default("") %}    

    {% if externalLink != "" %}
        {% set target = "_blank" %}
    {% else %}
        {% set target = "_self" %}            
    {% endif %}
    
    {% if url != "" %}
        <a class="button {{ classes }}" href="{{ url }}" target="{{ target }}">{{ text }}</a>
    {% endif %}

{% endmacro %}

{% macro getThemes(values, defaultValue) %}

      {% if values != null %}

        {% set themes = [] %}

        {% for theme in values %}

            {% set themes = themes| merge([theme.slug]) %}

        {% endfor %}

        {{- themes | join(" ") -}}

      {% else %}
        
        {{- defaultValue | default("") | trim -}}

      {% endif %}
  
{% endmacro %}

{% macro buildBackURL(params) %}
    {% set entryType = params.entry.type.name %}

    {# Build previous URL string from current #}
    {% set lastSegment = craft.request.getLastSegment() %}
    {% set previousRequestURI = craft.request.getSegments() | without(lastSegment) | join("/") %}
    <a href="{{ url(previousRequestURI) }}">Back to {{ entryType }}</a>    
{% endmacro %}

{% macro buildResourceButton(params) %}

    {% set article = params.article %}

    {% set articleTitle = article.title %}

    {% set readMoreText = "" %}
    {% set readMoreLink = "#" %}
    {% set readMoreClasses = "" %}
    {% set iframe = "" %}

    {% if article.externalLink != "" %}
        {% set readMoreText = "Read article" %}
        {% set readMoreLink = article.externalLink %}
    {% endif %}

    {% if article.download.count() %}
        {% set readMoreText = "Download" %}
        {% set readMoreLink = article.download.first().getUrl() | default("") %}
        {% set readMoreClasses = "" %}
        {% set iframe = article.iframe %}
    {% endif %}

    {% if article.videoEmbed != "" %}
        {% set readMoreText = "Watch video" %}
        {% set readMoreLink = "#" %}
        {% set readMoreClasses = "modal-link" %}
        {% set iframe = article.videoEmbed %}
    {% endif %}

    {% if article.iframe !="" %}
        {% set readMoreText = "Download" %}
        {% set readMoreLink = "#" %}    
        {% set readMoreClasses = "modal-link" %}
        {% set iframe = article.iframe %}
    {% endif %}

    {% if readMoreText != "" %}
        <a class="button {{ readMoreClasses }}" data-modal-type="resource" data-iframe='{{ iframe }}' data-modal-title="{{ articleTitle }}" href="{{ readMoreLink }}" {% if article.externalLink != "" %}target="_blank"{% endif %}>{{ readMoreText }}</a>
    {% endif %}

{% endmacro %}
