{% set category = entry.blogCategory.first().title | default("") %}
{% set title = entry.title | default("Blog post title") %}
{% set author = entry.author | default("Author name") %}
{% set authorPic = entry.author.photoUrl | default("http://via.placeholder.com/70x70") %}
{% set date = entry.postDate | date("m/d/Y") | default("") %}
{% set imageURL = entry.heroImage.first().getUrl() | default('http://via.placeholder.com/600x600') %}
{% set body = entry.excerpt | default(entry.body | striptags | slice(0, 140) | trim ~ '…' ) %}
{% set linkPostTitle = linkPostTitle | default(false) %}



<div class="blog-post-header theme-darker-background">

    {% if craft.request.getSegments() | length > 2 %}
        <div class="back-wrapper theme-hide-on-mobile">
            <div class="back-link">
                {{ helpers.buildBackURL({ entry: entry }) }}
            </div>
        </div>
    {% endif %}

    <div class="global-wrapper">

        <div class="left-blog-hero">

            {% if category != "" %}
                <a class="category" href="{{ entry.blogCategory.first().url }}">{{ category }}</a>
            {% endif %}

            {% if linkPostTitle %}
                <h2 class="title"><a href="{{ entry.url }}">{{ title }}</a></h2>
            {% else %}
                <h2 class="title">{{ title }}</h2>
            {% endif %}

            {% if craft.request.getSegments() | length <=2  %}
                <p class="description">{{ body }}</p>
            {% endif %}
            
            <div class="author-wrapper">
                <img class="author-image" src="{{ authorPic }}" alt="{{ author }}">
                <div class="author-info">
                    <p class="author-name">By {{ author.fullName }}</p>
                    <p class="date">{{ date }}</p>
                </div>
            </div>

        </div>

        <div class="right-blog-hero" style="background-image: url('{{ imageURL }}');"></div>

    </div>

</div>