{% set heading = theHeader.heading | default('Home Heading') %}
{% set body = entry.body | striptags | slice(0, 100) | trim  ~ '...' %}
{% set imageURL = entry.heroImage.first().getUrl() | default('http://via.placeholder.com/600x600') %}
{% set customerLogo = entry.customer.first().logo.first() | default("") %}
{% set customerLogoAlt = customerLogo.alt | default("logo") %}

<div class="customer-story-header theme-darker-background">

    {% if craft.request.getSegments() | length > 2 %}
        <div class="back-wrapper theme-hide-on-mobile">
            <div class="back-link">
                {{ helpers.buildBackURL({ entry: entry }) }}
            </div>
        </div>
    {% endif %}

    <div class="global-wrapper">

        <div class="left-blog-hero">

            <img class="logo" src="{{ customerLogo.url | default('#') }}" alt="">

            <h2 class="title">{{ heading }}</h2>

            {# <p class="description">{{ body }}</p> #}

        </div>

        <div class="right-blog-hero" style="background-image: url('{{ imageURL }}');"></div>

    </div>

</div>
