{% set theHeader = entry.homeHeader.first() %}
{% set heading = theHeader.heading | default('') %}
{% set description = theHeader.body | default('') %}
{% set iconList = theHeader.list %}

<style>
    .home-header {
        padding-top: 180px;
        padding-bottom: 120px;
    }
</style>

<div class="home-header theme-darker-background">

    {% if heading != "" %}
        <h1>{{ heading }}</h1>
    {% endif %}
    
    {% if description != "" %}
        <div>{{ description }}</div>
    {% endif %}    

    {% for item in iconList %}
        <li>
            
            <img src="{{ item.icon.first().getUrl() }}" alt="" />

            {% if item.heading != "" %}
                {{ item.heading }}
            {% endif %}

            <p>{{ item.title }}</p>
            
        </li>
    {% endfor %}

</div>