{% set themes = 'theme-darker-background' %}
{% set heading = theHeader.heading | default('') %}
{% set description = theHeader.body | default('') %}
{% set preHeading = entry.parent.title | default('') %}
{% set subHeading = theHeader.subHeading | default('') %}
{% set listHeading = theHeader.listHeading | default('') %}
{% set list = theHeader.list %}

{% if iconURL is not defined %}
    {% set iconURL = theHeader.icon.first().getUrl('') | default(siteUrl ~ 'images/ui/temp-hero-icon.svg') %}
{% endif %}

<div class="icon-list-header {{ themes }}">

    <div class="global-wrapper">

        <img class="hero-line-left" src="{{ siteUrl }}images/ui/hero-line-left.png" alt="hero-line-left">

        <img class="hero-line-top" src="{{ siteUrl }}images/ui/hero-line-top.png" alt="hero-line-top">

        <div class="hero-line-vertical"></div>

        <div class="hero-info">

            {% if preHeading != "" %}
                <span class="pre-heading">{{ preHeading }}</span>
            {% endif %}

            {% if heading != "" %}
                <h1 class="heading">{{ heading | typogrify }}</h1>
            {% endif %}
            
            {% if description != "" %}
                <div class="description">{{ description | typogrify }}</div>
            {% endif %}

        </div>

        <div class="hero-line-bottom-container">
            <img class="hero-line-bottom" src="{{ siteUrl }}images/ui/hero-line-bottom.png" alt="hero-line-bottom">
        </div>

        <div class="hero-line-horizontal-container">
            <img class="hero-line-horizontal" src="{{ siteUrl }}images/ui/hero-line-horizontal.png" alt="hero-line-horizontal">
        </div>

        <img class="hero-icon" src="{{ iconURL }}" alt="temp-hero-icon">

    </div>

    <div class="global-wrapper list-container-wrapper">

        <div class="list-container">

            {% if subHeading != "" %}
                <h2>{{ subHeading | typogrify }}</h2>
            {% endif %}

            <hr>

            {% if listHeading != "" %}
                <h3>{{ listHeading | typogrify }}</h3>
            {% endif %}

            {% if list | length %}
                <div class="list-item-container">
                    {% for item in list %}
                        <div class="list-item">
                            <img class="icon" src="/images/ui/icon-circle-checkmark.svg" alt="icon circle checkmark">
                            {{ item.listItem | typogrify }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

    </div>

</div>
