{% set themes = 'theme-darker-background' %}
{% set heading = theHeader.heading | default('') %}
{% set description = theHeader.body | default('') %}
{% set preHeading = entry.parent.title | default('') %}

<style>
    .standard-header {
        padding-top: 180px;
        padding-bottom: 120px;
    }
</style>

<div class="standard-header {{ themes }}">

    {% if preHeading != "" %}
        <span>{{ preHeading }}</span>
    {% endif %}

    {% if heading != "" %}
        <h1>{{ heading }}</h1>
    {% endif %}
    
    {% if description != "" %}
        <div>{{ description }}</div>
    {% endif %}   

</div>
