{% set themes = 'theme-darker-background' %}
{% set heading = theHeader.heading | default('') %}
{% set description = theHeader.body | default('') %}
{% set preHeading = entry.parent.title | default('') %}

<div class="standard-hero {{ themes }}">

    <div class="global-wrapper">

        {% if preHeading != "" %}
            <span class="pre-heading">{{ preHeading }}</span>
        {% endif %}

        {% if heading != "" %}
            <h1 class="heading">{{ heading }}</h1>
        {% endif %}

        {% if description != "" %}
            <div class="description">{{ description }}</div>
        {% endif %}

    </div>

</div>
