<div class="standard-news-hero theme-darker-background">

    {% set entryType = entry.type.name %}

    {# Build previous URL string from current #}
    {% set lastSegment = craft.request.getLastSegment() %}
    {% set previousRequestURI = craft.request.getSegments() | without(lastSegment) | join("/") %}

    <div class="back-wrapper theme-hide-on-mobile">
        <div class="back-link">
            <a href="{{ url(previousRequestURI) }}">Back to {{ entryType }}</a>
        </div>
    </div>

    <div class="global-wrapper">

        <h5 class="pre-heading">{{ entryType }}</h5>
        <h1 class="heading">{{ entry.title }}</h1>

    </div>

</div>