{% set themes = 'theme-darker-background' %}

{% if heading is not defined %}
    {% set heading = theHeader.heading | default('') %}
{% endif %}

{% if description is not defined %}
    {% set description = theHeader.body | default('') %}
{% endif %}

{% if preHeading is not defined %}
    {% set preHeading = entry.parent.title | default('') %}
{% endif %}

{% if iconURL is not defined %}
    {% set iconURL = theHeader.icon.first().getUrl('') | default(siteUrl ~ 'images/ui/temp-hero-icon.svg') %}
{% endif %}

<div class="standard-hero {{ themes }} {% if description == "" %}hero-short{% endif %}">

    <div class="global-wrapper">

        <img class="hero-line-left" src="{{ siteUrl }}images/ui/hero-line-left.png" alt="hero-line-left">

        <img class="hero-line-top" src="{{ siteUrl }}images/ui/hero-line-top.png" alt="hero-line-top">

        <div class="hero-line-vertical"></div>

        <div class="hero-info">

            {% if preHeading != "" %}
                <span class="pre-heading">{{ preHeading }}</span>
            {% endif %}

            {% if heading != "" %}
                <h1 class="heading">{{ heading }}</h1>
            {% endif %}

            {% if description != "" %}
                <div class="description">{{ description }}</div>
            {% endif %}

        </div>

        <div class="hero-line-bottom-container">
            <img class="hero-line-bottom" src="{{ siteUrl }}images/ui/hero-line-bottom.png" alt="hero-line-bottom">
        </div>

        <div class="hero-line-horizontal-container">
            <img class="hero-line-horizontal" src="{{ siteUrl }}images/ui/hero-line-horizontal.png" alt="hero-line-horizontal">
        </div>

        <img class="hero-icon" src="{{ iconURL }}" alt="temp-hero-icon">

    </div>

</div>