{# Inherits variables from pages/_router: #}
{# @articles - the articles to output #}
{# @readMore - whether or not to output a readmore link #}

<div class="article-list article-list-2-column">

    {% if entry.type.handle == "resourceListing" %}
        <div class="modal">

            <div class="modal-close" data-modal-type="resource">
                <img src="/images/ui/icon-close.svg" alt="close">
            </div>

            <div class="modal-info">
                {# Embed #}
            </div>

        </div>
    {% endif %}
    
    <div class="global-wrapper">

        {% if articles.count() %}

            {% for article in articles %}

                {% if article.type.handle == "resource" %}
                    {# get the resource icon #}
                    {% set thumbnailUrl = 'http://via.placeholder.com/180x200' %}
                {% elseif article.type.handle == "customer" %}
                    {% set thumbnailUrl = article.logo.first().getUrl() | default('http://via.placeholder.com/180x200') %}                   
                {% else %}
                    {% set thumbnailUrl = article.heroImage.first().getUrl() | default('http://via.placeholder.com/180x200') %}
                {% endif %}

                {% set description = article.description | striptags %}

                <div class="article-item">

                    <div class="image" style="background-image: url('{{ thumbnailUrl }}'); {% if article.type.handle == 'customer'%}background-size: 80% auto;{% endif %}"></div>

                    <div class="info">

                        <h3 class="heading">{{ article.title }}</h3>

                        {% if description is defined %}
                            <p class="description">
                                {{ description }}
                            </p>
                        {% endif %}
                        
                        {% if readMore %}

                            {{ helpers.buildResourceButton( { article: article } ) }}

                        {% endif %}

                    </div>

                </div>

            {% endfor %}

        {% else %}
            
            <h2>No articles available</h2>

        {% endif %}

    </div>

</div>
