{# Inherits variables from pages/_router: #}
{# @articles - the articles to output #}
<div class="article-list">

    {% if articles.count() %}

        {% for article in articles %}

            {% set thumbnailUrl = article.heroImage.first().getUrl() | default('http://via.placeholder.com/180x200') %}
            {% set readMore = article.url | default("") %}
            {% set body = article.body | striptags | slice(0, 140) | trim  ~ '...' | convert_encoding('UTF-8', 'HTML-ENTITIES') %}

            {% if article.type.handle == "inTheNewsArticle" %}
                {% set readMore = article.externalLink | default("") %}
                {% set body = article.body | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') %}

            {% endif %}

            <div class="article-item {% if loop.index == 1 %}isFirst{% endif %}">

                <div class="image" style="background-image: url('{{ thumbnailUrl }}');"></div>

                <div class="info">

                    <h3 class="heading">{{ article.title }}</h3>

                    {% if article.author | length and article.type.handle == "blogPost" %}
                        <p class="author">By {{ article.author.fullName | default('Syapse') }}</p>
                    {% endif %}
            
                    {% if article.type.handle == "inTheNewsArticle" %}
                        <p class="author">{{ article.postDate | date("m/d/Y") }}</p>                    
                    {% endif %}

                    <p class="description">
                        {{ body | replace('&nbsp;', " ")  }}
                    </p>

                    {% if readMore != "" %}
                        <a class="link" href="{{ readMore }}">Read</a>
                    {% endif %}

                </div>

            </div>

        {% endfor %}

    {% else %}
        
        <p>No articles available</p>

    {% endif %}

</div>
