{# Inherits variables from pages/_router: #}
{# @articles - the articles to output #}
{# @readMore - whether or not to output a readmore link #}
{% set thumbnailUrl = 'http://via.placeholder.com/181x200' %}

<div class="article-list">

    {% if articles.count() %}

        {% for article in articles %}
            <div class="article-item">

                <h4>{{ article.title }}</h4>
                <img src="{{ thumbnailUrl }}" alt="">

                {% if readMore %}
                    {% set description = article.body | striptags | slice(0, 100) | trim  ~ '...' %}
                {% else %}
                    {% set description = article.description | striptags %}
                {% endif %}

                <p>{{ description }}</p>

                {% if readMore %}
                    <a href="{{ article.url }}">Read</a>
                {% endif %}
                
            </div>
        {% endfor %}

    {% else %}
        
        <p>No articles available</p>

    {% endif %}

</div>
