{# Inherits variables from pages/_router: #}
{# @articles - the articles to output #}
{# @readMore - whether or not to output a readmore link #}

<div class="article-list article-list-2-column">

    <div class="global-wrapper">

        {% if articles.count() %}

            {% for article in articles %}

                {% if article.type.handle == "resource" %}
                    {# get the resource icon #}
                    {% set thumbnailUrl = 'http://via.placeholder.com/180x200' %}
                {% elseif article.type.handle == "customer" %}
                    {% set thumbnailUrl = article.logo.first().getUrl() | default('http://via.placeholder.com/180x200') %}                   
                {% else %}
                    {% set thumbnailUrl = article.heroImage.first().getUrl() | default('http://via.placeholder.com/180x200') %}
                {% endif %}

                <div class="article-item">

                    <div class="image" style="background-image: url('{{ thumbnailUrl }}');"></div>

                    <div class="info">

                        <h3 class="heading">{{ article.title }}</h3>
                        
                        {% if readMore %}
                            {% set description = article.body | striptags | slice(0, 100) | trim  ~ '...' %}
                        {% else %}
                            {% set description = article.description | striptags %}
                        {% endif %}

                        <p class="description">
                            {{ description }}
                        </p>

                        {% if readMore %}
                            <a class="link" href="{{ article.url }}">Read</a>
                        {% endif %}

                    </div>

                </div>

            {% endfor %}

        {% else %}
            
            <h2>No articles available</h2>

        {% endif %}

    </div>

</div>
