{% set heading = contactForm.heading | trim | default("Let's Talk") %}
{% set description = contactForm.description | striptags | trim | default("If you’d like to learn more about Syapse, tell us a little about yourself and we will reach out as soon as possible.") %}
{% set themes = helpers.getThemes(theBlock.themes) | trim  %}

<div class="lets-talk {{ themes }}">

	<div class="global-wrapper">

		<div class="left-info">

			<h2 class="heading">
				{{- heading -}}
			</h2>

			<p class="description">
				{{- description -}}
			</p>

		</div>

		<div class="right-info">

			<form id="lets-talk" action="" method="post">

				<input type="text" id="firstname" placeholder="First Name">
				<input type="text" id="lastname" placeholder="Last Name">
				<input type="text" id="companyname" placeholder="Company Name">
		        <input type="email" id="email" placeholder="Email">
		        <textarea rows="8" placeholder="Message"></textarea>
				<button type="submit">Submit</button>

			</form>

			{# {{ contactForm.iframe }} #}

		</div>

	</div>

</div>