<div class="lets-talk">

	<div class="global-wrapper">

		<div class="left-info">

			<h2 class="heading">
				Let's Talk
			</h2>

			<p class="description">
				If you'd like to learn more about Syapse, tell us a little about yourself and we will reach out as soon as possible.
			</p>

		</div>

		<div class="right-info">

			<form id="lets-talk" action="" method="post">

				<input type="text" id="firstname" placeholder="First Name">
				<input type="text" id="lastname" placeholder="Last Name">
				<input type="text" id="companyname" placeholder="Company Name">
		        <input type="email" id="email" placeholder="Email">
		        <input type="text" id="title" placeholder="Title">
		        <textarea rows="8" placeholder="Message"></textarea>

				<button type="submit">Submit</button>

			</form>

		</div>

	</div>

</div>