<div class="sidebar">

	{# Modal #}
	<div class="modal">

        <div class="modal-close" data-modal-type="resource">
            <img src="/images/ui/icon-close.svg" alt="close">
        </div>

        <div class="modal-info">
            {# Embed #}
        </div>

    </div>

	{% for item in entry.sidebar %}
		
		{% switch item.type.handle %}
		
			{% case "quote" %}

				{# Quote #}
				{% if item.person.count() %}

					{% set person = item.person.first() %}

					<div class="quote module">
						<blockquote>
							{{ person.quote | typogrify }}
						</blockquote>

						<div class="quotee">
							
							<div class="quotee-info">

								<span class="full-name">
									{{ person.title }}
								</span>

								<span class="assignment">
									{{ person.placeOfWork }}
								</span>

							</div>

						</div>
									
					</div>

				{% endif %}

		
			{% case "resource" %}

				{# Resource #}
				{% if item.resource.count() %}

					{% set resource = item.resource.first() %}

					<div class="resource module">
						<h4>{{ resource.title }}</h4>
						{{ helpers.buildResourceButton( { article: resource } ) }}
					</div>
					
				{% endif %}
		
			{% default %}
			
		{% endswitch %}

	{% endfor %}

	{# Newsletter Sign-up #}

	<div class="newsletter-signup module theme-hide-on-mobile">
		{% include 'includes/partial/_subscribe' %}
	</div>

{# Newsletter Sign Up #}
{# {{ formNewsletterSignup.iframe }} #}

{# Let's Talk Form
{{ contactForm.iframe }}

Syapse Demo Request Form
{{ formDemoRequest.iframe }}

Download Syapse Oncology 1 Pager
{{ formDownloadOncology1Pager.iframe }}

Download Syapse Network 1 Pager
{{ formDownloadNetwork1Pager.iframe }}

Download Intermountain Case Study 1 Pager
{{ formDownloadCaseStudy1Pager.iframe }} #}

</div>