{% if entry is defined %}

    {% switch entry.type.handle %}

        {# News sections #}
        {% case "newsListing" %}
    
            {% set articles = craft.entries.section(entry.slug | camel) %}
            {% set title = craft.entries.section('pages').slug(entry.slug).first().title %}
            {% include "pages/news-listing-page" with { articles: articles, sectionTitle: title } %}

        {% case "blogPost" or "resource" or "pressRelease" or "customerStory"%}
            {% include "pages/news-article-page" %}

        {# Resource listing  #}
        {% case "resourceListing" %}
            {% include "pages/resource-listing-page" %}   
        
        {# Customer stories  #}
        {% case "customerStoryListing" %}
            {% include "pages/customer-story-listing-page" %}


        {# Customer listing / Health systems  #}
        {% case "customerListing" %}
            {% include "pages/customer-listing-page" %}

        {# Provider listing  #}
        {% case "providerListing" %}
            {% include "pages/provider-listing-page" %}
        
        {# Team listing  #}
        {% case "teamListing" %}
            {% include "pages/team-listing-page" %}    

        {# Home #}
        {% case "homepage" %}
            {% include "pages/home-page" %}

        {# Catchall #}
        {% default %}
            {% include "pages/default-page" %}

    {% endswitch %}   

{% elseif category is defined %}

    {# Categories listing pages don't have acces to entry so force the appropriate template #}
    {% set articles = craft.entries.section('blog').relatedTo(category) %}
    {% include "pages/news-listing-page" with { articles: articles, sectionTitle: category.title, isCategory: true } %}

{% else %}

    {% exit 404 %}

{% endif %}

