{% if entry is defined %}

    {% switch entry.type.handle %}

        {# News sections #}
        {% case "newsListing" %}
            {% set name = entry.slug %}
            {% set title = craft.entries.section('pages').slug(name).first().title %}
            {% set articles = craft.entries.section(name | camel) %}
            {% include "pages/news-listing-page" with { sectionName: name, sectionTitle: title, articles: articles } %}

        {% case "blogPost" or "resource" or "pressRelease" or "customerStory"%}
            {% include "pages/news-article-page" %}

        {# Resource listing  #}
        {% case "resourceListing" %}
            {% set name = entry.slug %}
            {% include "pages/resource-listing-page" with { sectionName: name} %}   
        
        {# Customer stories  #}
        {% case "customerStoryListing" %}
            {% set name = entry.slug %}
            {% include "pages/customer-story-listing-page" with { sectionName: name} %}


        {# Customer listing / Health systems  #}
        {% case "customerListing" %}
            {% set name = entry.slug %}
            {% include "pages/customer-listing-page" with { sectionName: name} %}

        {# Provider listing  #}
        {% case "providerListing" %}
            {% set name = entry.slug %}
            {% include "pages/provider-listing-page" with { sectionName: name} %}
        
        {# Team listing  #}
        {% case "teamListing" %}
            {% set name = entry.slug %}
            {% include "pages/team-listing-page" with { sectionName: name} %}    

        {# Home #}
        {% case "homepage" %}
            {% include "pages/home-page" %}

        {# Catchall #}
        {% default %}
            {% include "pages/default-page" %}

    {% endswitch %}   

{% elseif category is defined %}

    {# Categories listing pages don't have acces to entry so force the appropriate template #}
    {% set articles = craft.entries.section('blog').relatedTo(category) %}
    {% include "pages/news-listing-page" with { articles: articles, sectionTitle: category.title, isCategory: true } %}

{% else %}

    {% exit 404 %}

{% endif %}

