{% extends "layouts/_layout" %}

{% block content %}

	{# Set the cache key based on the url segments #}
	{% set cacheKey = "page" %}
	{% for key in craft.request.getSegments() %}
		{% set cacheKey = cacheKey ~ "_" ~ key %}
	{% endfor %}
	{% cache globally using key cacheKey if craft.config.cache %}

		<div class="core-content">

	        {% include 'includes/headers/_headers-matrix' %}

		    {% include 'includes/partial/_article-list-2-column' with { articles: craft.entries.section('customers'), readMore: false } %}

	        {% include 'includes/block/_block-matrix' %}

		</div>

	{% endcache %}

{% endblock %}