{% extends "layouts/_layout" %}

{% block content %}

{# Set the cache key based on the url segments #}
    {% set cacheKey = "page" %}
    {% for key in craft.request.getSegments() %}
        {% set cacheKey = cacheKey ~ "_" ~ key %}
    {% endfor %}
    {% cache globally using key cacheKey if craft.config.cache %}

	    <div class="core-content">
	        
	        {% include 'includes/headers/_customerStory-header' %}

	        {% include 'includes/block/_block-matrix' %}

	        {% include 'includes/partial/_sidebar' %}                

	    </div>

    {% endcache %}

{% endblock %}