{% extends "layouts/_layout" %}

{% set articles = craft.entries.section('customerStories') %}

{% block content %}

    <style>
        .customer-stories-header {
            padding: 160px;
            overflow: auto;
        }   
        .customer-stories-header-1 {
            float: left;
            width: 50%;
        }    
        .customer-stories-header-2 {
            float: right;
            width: 50%;
        }    

    </style>

    <div class="core-content">
        
        <div class="customer-stories-header theme-darker-background">

            {% for article in articles.limit(2) %}

                {% set customerLogoURL = article.customer.first().logo.first().getUrl("") | default("") %}

                <div class="customer-stories-header-{{ loop.index }}">

                    {% if loop.index0  == 0%}
                        {% set thumbnailUrl = 'http://via.placeholder.com/181x181' %}
                    {% else %}
                        {% set thumbnailUrl = 'http://via.placeholder.com/110x110' %}
                    {% endif %}
                    
                    <img src="{{ customerLogoURL }}" alt="">

                    <h4>{{ article.title }}</h4>
                    <img src="{{ thumbnailUrl }}" alt="">

                    {% if loop.index0 == 0%}
                        <p>{{ article.body | striptags | slice(0, 100) | trim  ~ '...' }}</p>
                    {% endif %}                    

                    <a href="{{ article.url }}">Read</a>

                </div>
            {% endfor %}

        </div>

        <div class="listing-container">

            <div class="global-wrapper">

                {% include 'includes/partial/_article-list' with { articles: articles.offset(2) } %}
                {% include 'includes/partial/_sidebar' %}

            </div>

        </div>

    </div>

{% endblock %}