{% extends "layouts/_layout" %}

{% block content %}

	<div class="core-content">
		  
        {% if entry.type == "blogPost" %}
            {% include 'includes/headers/_blogPost-header' %}

        {% elseif entry.type == "customerStory" %}
            {% include 'includes/headers/_customerStory-header' %}

        {% else %}
            {% include 'includes/headers/_standard-news-hero' %}

        {% endif %}

        <h3>{{ entry.subHeading }}</h3>

        {{ entry.body }}

        {# Add functionality for a resource link #}
        {% include 'includes/partial/_sidebar' %}        

	</div>

{% endblock %}