{# Inherits variables from pages/_router: #}
{# @articles - the articles to output #}
{# @sectionTitle - the title of the news section #}
{# @isCategory - is this news section a category #}

{% extends "layouts/_layout" %}

{% block content %}

    <style>
        .news-hero {
            padding: 160px 0;
        }

    </style>

    <div class="core-content">

        {% if entry is defined and entry.slug == "blog" %}

            {% include 'includes/headers/_blogPost-header' with { entry: articles.first(), linkPostTitle: true } %}
            {% set articles = articles.offset(1) %}

        {% else %}

            <div class="news-hero theme-darker-background">

                {# This happens if we're on a blog category page #}
                {% if isCategory is defined and isCategory %}
                    <h3>Blog</h3>
                {% endif %}

                <h2>{{ sectionTitle }}</h2>

            </div>            

        {% endif %}

        {% include 'includes/partial/_article-list' %}
        {% include 'includes/partial/_sidebar' %}

    </div>

{% endblock %}