{% extends "layouts/_layout" %}

{% block content %}

	<div class="core-content">
		  
        {% if entry.type == "blogPost" %}
            {% include 'includes/headers/_blogPost-header' %}

        {% elseif entry.type == "customerStory" %}
            {% include 'includes/headers/_customerStory-header' %}

        {% else %}
            {% include 'includes/headers/_standard-news-hero' %}

        {% endif %}

        <div class="article-body">

            <div class="global-wrapper">

                <div class="blog-article">

                    <h2 class="blog-subheading">{{ entry.subHeading }}</h2>

                    <div class="blog-body">
                        {{ entry.body | typogrify }}
                    </div>

                    {% if entry.type.handle == "resource" %}
                        
                        {% if entry.download.count() %}
                            {% set resourceUrl = entry.download.first().getUrl() | default("") %}
                            {% set buttonText = "Download" %}
                        {% else %}
                            {% set resourceUrl = entry.externalLink | default("") %}
                            {% set buttonText = "View more" %}
                        {% endif %}
                                        
                        {% if resourceUrl != "" %}
                            <a href="{{ resourceUrl }}" class="button">{{ buttonText }}</a>
                        {% endif %}
                        
                    {% endif %}
                    
                </div>

                {# Add functionality for a resource link #}
                {% include 'includes/partial/_sidebar' %}

            </div>

        </div>

	</div>

{% endblock %}