{# Inherits variables from pages/_router: #}
{# @articles - the articles to output #}
{# @sectionTitle - the title of the news section #}
{# @isCategory - is this news section a category #}

{% extends "layouts/_layout" %}

{% block content %}

    <div class="core-content">

        {% if entry is defined and entry.slug == "blog" %}

            {% include 'includes/headers/_blogPost-header' with { entry: articles.first(), linkPostTitle: true } %}
            {% set articles = articles.offset(1) %}

        {% else %}

            <div class="news-hero theme-darker-background">

                <div class="global-wrapper">

                    {# This happens if we're on a blog category page #}
                    {% if isCategory is defined and isCategory %}
                        <h1 class="heading">Blog</h1>
                    {% endif %}

                    <h1 class="heading">{{ sectionTitle }}</h1>

                </div>

            </div>

        {% endif %}

        <div class="listing-container">

            <div class="global-wrapper">

                {% include 'includes/partial/_article-list' %}
                {% include 'includes/partial/_sidebar' %}

            </div>

        </div>

    </div>

{% endblock %}