{% extends "layouts/_layout" %}

{% block content %}

    {% set resources = craft.entries.section('resources') %}
    {% set firstResource = resources.first() %}

    <style>
        .featured-resource {
            padding: 160px;
        }        
    </style>

	<div class="core-content">

        <div class="featured-resource theme-darker-background theme-colored-button">
            
            <h2>{{ firstResource.title }}</h2>
            <p>{{ firstResource.body | striptags | slice(0, 100) | trim  ~ '...' }}</p>
            <a class="button" href="{{ firstResource.url }}">Read</a>
            
        </div>
        
        {% include 'includes/partial/_article-list-2-column' with { articles: resources.offset(1), readMore: true } %}

	</div>

{% endblock %}