{% extends "layouts/_layout" %}

{% block content %}

    {% set teamTypes = craft.entries.section('team').level(1).status('null') %}

	<div class="core-content">

        <div class="modal">

            <div class="modal-close" data-modal-type="team">
                <img src="/images/ui/icon-close.svg" alt="close">
            </div>

            <div class="modal-info">
                <h2 class="name"></h2>
                <h2 class="job-title"></h2>
                <p class="bio"></p>
            </div>

        </div>

        {% include 'includes/headers/_headers-matrix' %}

        <div class="team-listing">

            {% for type in teamTypes %}

                <div class="team-group">

                    <div class="global-wrapper">
                
                        <h2 class="title">{{ type.title }}</h2>

                        <div class="members">

                            {% for employee in type.getChildren() %}
                                
                                <div class="team-member modal-link" data-modal-type="team" data-name="{{ employee.title }}" data-job-title="{{ employee.jobTitle }}" data-bio="{{ employee.bio }}">
                                    <img class="headshot" src="{{ employee.headshot.first().url | default('/images/ui/team-member-default.png') }}">
                                    {% if type.title != "Investors" %}
                                        <h3 class="name">{{ employee.title }}</h3>
                                        <p class="job-title">{{ employee.jobTitle }}</p>
                                    {% endif %}
                                </div>

                            {% endfor %}

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

        {% include 'includes/block/_block-matrix' %}

	</div>

{% endblock %}