{% extends "layouts/_layout" %}

{% block content %}

    {# Set the cache key based on the url segments #}
    {% set cacheKey = "page" %}
    {% for key in craft.request.getSegments() %}
        {% set cacheKey = cacheKey ~ "_" ~ key %}
    {% endfor %}
    
    {# Check for a pending post #}
    {% set firstPending = craft.entries({
        section: sectionName | camel,
        status: 'pending',
        order: 'postDate asc'
    }).first %}

    {% set cacheUntil = firstPending ? firstPending.postDate : now|date_modify('+1 year') %}

    {% cache globally using key cacheKey until cacheUntil %}

        {% set teamTypes = craft.entries.section('team').level(1).status('null') %}

    	<div class="core-content">

            <div class="modal">

                <div class="modal-close" data-modal-type="team">
                    <img src="/images/ui/icon-close.svg" alt="close">
                </div>

                <div class="modal-info">
                    <h2 class="name"></h2>
                    <h2 class="job-title"></h2>
                    <p class="bio"></p>
                </div>

            </div>

            <div class="modal-cover"></div>

            {% include 'includes/headers/_headers-matrix' %}

            <div class="team-listing">

                {% for type in teamTypes %}

                    <div class="team-group">

                        <div class="global-wrapper">
                    
                            <h2 class="title">{{ type.title }}</h2>

                            <div class="members">

                                {% for employee in type.getChildren() %}
                                    
                                    <div class="team-member {% if type.title == "Leadership" %}modal-link{% endif %}" {% if type.title == "Leadership" %}data-modal-type="team" data-name="{{ employee.title }}" data-job-title="{{ employee.jobTitle }}" data-bio="{{ employee.bio }}"{% endif %}>
                                        <img class="headshot" src="{{ employee.headshot.first().url | default('/images/ui/team-member-default.png') }}">
                                        {% if type.title == "Leadership" or type.title == "Board of Directors" %}
                                            <h3 class="name">{{ employee.title }}</h3>
                                            <p class="job-title">{{ employee.jobTitle | typogrify }}</p>
                                        {% endif %}
                                    </div>

                                {% endfor %}

                            </div>

                        </div>

                    </div>

                {% endfor %}

            </div>

            {% include 'includes/block/_block-matrix' %}

    	</div>

    {% endcache %}

{% endblock %}