.icon-list {

	@include sectionPadding;

	.heading {
		width: 100%;
		margin-bottom: 30px;
	}

	.logo-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	// @for $i from 1 through 5 {
	// 	.logos-count-#{$i} .logo {
	// 		width: calc(100% / #{$i} - 30px);
	// 	}
	// 	.customers-count-#{$i} .logo {
	// 		width: calc(100% / #{$i} - 30px);
	// 	}
	// }

	.logo {
		display: flex;
		align-items: flex-start;
		width: calc(25% - 30px);
		margin: 0 15px 45px;
	}

	.logo-image {
		width: 72px;
		margin-right: 35px;
	}

	.logo-title {
		width: calc(100% - 107px);
		margin-bottom: 0;
	}

// Responsive

	@media screen and (max-width: 1240px) {

		.logo {
			width: calc(33.33% - 30px);
		}

	}

	@media screen and (max-width: 1023px) {

		.logo {
			width: calc(50% - 30px);
		}

	}

	@media screen and (max-width: 580px) {

		.logo {
			align-items: center;
			width: 100%;
			margin: 0 0 20px;
			margin-right: 0;
		}

	}

}