.icon-list {

	@include sectionPadding;

	.heading {
		width: 100%;
		margin-bottom: 30px;
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	@for $i from 1 through 5 {
		.list-count-#{$i} .icon {
			width: calc(100% / #{$i} - 30px);
		}
		// .customers-count-#{$i} .icon {
		// 	width: calc(100% / #{$i} - 30px);
		// }
	}

	.icon {
		display: flex;
		align-items: flex-start;
		width: calc(25% - 30px);
		margin: 0 15px 45px;
	}

	.icon-image {
		width: 72px;
		margin-right: 35px;
	}

	.info {
		width: calc(100% - 107px);
	}

	.icon-title {
		margin-bottom: 0;
	}

	.description {
		margin-top: 20px;
	}

// Responsive

	@media screen and (max-width: 1240px) {

		.icon {
			width: calc(33.33% - 30px);
		}

	}

	@media screen and (max-width: 1023px) {

		.icon {
			width: calc(50% - 30px);
		}

	}

	@media screen and (max-width: 580px) {

		.icon {
			align-items: center;
			width: 100%;
			margin: 0 0 20px;
			margin-right: 0;
		}

	}

}