.icon-list {

	.global-wrapper {
		@include sectionPadding;
	}

	.heading {
		width: 100%;
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	@for $i from 1 through 5 {
		.list-count-#{$i} .icon {
			width: calc(100% / #{$i} - 30px);
		}
		// .customers-count-#{$i} .icon {
		// 	width: calc(100% / #{$i} - 30px);
		// }
	}

	.icon {
		display: flex;
		align-items: center;
		width: calc(25% - 30px);
		margin: 30px 15px 0;
	}

	.icon.align-top  {
		align-items: flex-start;
	}

	.icon-image {
		width: 72px;
		margin-right: 35px;
	}

	.info {
		width: calc(100% - 107px);
	}

	.icon-title {
		// margin-bottom: 0;
	}

	// .description {
	// 	margin-top: 20px;
	// }

// Responsive

	@media screen and (max-width: 1240px) {

		.list .icon {
			width: calc(33.33% - 30px);
		}

	}

	@media screen and (max-width: 1130px) {

		.list .icon {

			width: calc(50% - 30px);

			&:not(:last-of-type) {
				margin-bottom: 45px;
			}


		}

		.description {
			margin-top: 0;
		}

	}

	@media screen and (max-width: 960px) {

		.list .icon {
			width: 100%;
			margin: 0 0 45px;
			margin-right: 0;
		}

	}

}