.image-copy {
	
	.global-wrapper {
		@include sectionPadding;
		padding-top: 80px;
		padding-bottom: 80px;
		display: flex;
		align-items: center;
	}

	.image {
		order: 1;
		width: calc(50% - 20px);
		margin-right: 20px;
		// min-height: 460px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		align-self: flex-start;
	}

	.copy {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		order: 2;
		width: calc(50% - 20px);
		margin-left: 20px;
	}

	ul {
		padding-left: 0;
		list-style-type: none;
	}

	ul li {

		position: relative;
		margin-top: 0;
		padding-left: 20px;

		&:not(:last-of-type) {
			margin-bottom: 20px;
		}

	}

	ul li:before {
		content: '';
		position: absolute;
		top: 5px;
		left: 0;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background-color: $buttonBlue;
		vertical-align: middle;
	}

	p + h3 {
		margin-top: 30px;
		font-size: 24px;
		font-weight: 500;
		color: #3F3F3F;
	}

	a:not(.button) {
		color: $defaultColor;
		transition: color 0.15s ease-in-out;
	}

	a:not(.button):hover {
		color: $buttonBlue;
	}

	.button {
		margin-top: 30px;
	}

	&.imageRight {

		.image {
			order: 2;
			margin-left: 20px;
			margin-right: 0;
		}

		.copy {
			order: 1;
			margin-left: 0;
			margin-right: 20px;
			// padding-left: 0;
			// padding-right: 80px;
		}
		
	}

	&.theme-wide-text-width {

		.copy {
			width: calc(66.6%);
		}

		.image {
			width: calc(33.3% - 20px);
		}

	}

	&.theme-narrow-text-width {

		.copy {
			width: calc(33.3% - 20px);
		}

		.image {
			width: calc(66.6%);
		}

	}

// Responsive

	@media screen and (max-width: 767px) {

		.global-wrapper {
			flex-wrap: wrap;
		}

		.image {
			width: 100%;
			// min-height: 65vw;
			margin-left: 0;
			margin-right: 0;
		}

		.copy {
			width: 100%;
			margin-top: 30px;
			padding: 0;
			margin-left: 0;
			margin-right: 0;
		}

		.heading, 
		.description {
			width: 100%;
		}

		&.imageRight {

			.image {
				order: 1;
				margin-left: 0;
				margin-right: 0;
			}

			.copy {
				order: 2;
				padding: 0;
				margin-left: 0;
				margin-right: 0;
			}

		}

		&.theme-wide-text-width {

			.copy {
				width: 100%;
			}

			.image {
				width: 100%;
			}

		}

		&.theme-narrow-text-width {

			.copy {
				width: 100%;
			}

			.image {
				width: 100%;
			}

		}

	}

}