.image-copy-small-icon-list {

	.global-wrapper {
		@include sectionPadding;
		padding-top: 80px;
		padding-bottom: 80px;
		display: flex;
	}

	.left-content {
		width: calc(50% - 20px);
		margin-right: 20px;
	}

	.image {
		width: 100%;
	}

	.left-content {

		.title {
			margin-bottom: 30px;
		}

		.image {
			margin-top: 20px;
		}

	}

	.right-content {

		width: calc(50% - 20px);
		margin-left: 20px;

		ul {
			margin: 0;
			padding-left: 0;
			list-style: none;
		}

		li {
			display: flex;
			align-items: flex-start;
		}

		li:not(:last-of-type) {
			margin-bottom: 30px;
		}

		.image {
			width: 75px;
			margin-right: 40px;
		}

		// .description {
		// 	margin-bottom: 30px;
		// }

		li:last-of-type .description {
			margin-bottom: 0;
		}

		.info {
			width: calc(100% - 115px);
		}

		.button {
			margin-top: 40px;
		}

	}



// Responsive

	@media screen and (max-width: 920px) {

		.global-wrapper {
			flex-wrap: wrap;
		}

		.left-content, 
		.right-content {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		.left-content {
			margin-bottom: 30px;
		}

		.right-content .image {
			margin-right: 20px;
		}

	}

}