.logo-grid {
	
	.global-wrapper {
		@include sectionPadding;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.heading {
		margin-bottom: 0;
	}

	.logos-container {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid $hrColor;
	}

	.logos {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	@for $i from 1 through 5 {
		.logos-count-#{$i} .logo {
			width: calc(100% / #{$i} - 30px);
		}
		.customers-count-#{$i} .logo {
			width: calc(100% / #{$i} - 30px);
		}
	}

	.logo {
		width: calc(16.66% - 30px);
		margin: 0 15px 30px;
	}

// Responsive

	@media screen and (max-width: 1059px) {

		.logo {
			width: calc(20% - 30px);
		}

	}

	@media screen and (max-width: 960px) {

		.logo {
			width: calc(25% - 30px);
		}

	}

	@media screen and (max-width: 767px) {

		.logos-container {
			overflow-y: hidden;
			width: 100%;
			height: 90px;
			margin-top: 20px;
			padding-top: 20px;
		}

		.logos {
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			flex-wrap: nowrap;
		}

		.logo {
			float: left;
			width: auto;
			min-width: 135px;
		}

	}

}