.quote-block {

	@include sectionPadding;
	
	.global-wrapper {
		display: flex;
		max-width: 1060px;
	}

	.media {
		order: 1;
		position: relative;
		width: 180px;
		height: 180px;
		margin-right: 40px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.info {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		order: 2;
		width: calc(100% - 180px);
	}	

	.heading {
		width: 100%;
	}

	.content {
		display: flex;
	}

	.bio {
		@include anti-alias;
		width: 40%;
		padding-right: 30px;
		font-size: 18px;
		color: $defaultColor;
		line-height: 37px;
	}

	.quotee:before {
		content: '';
		display: block;
		margin-bottom: 15px;
		width: 70px;
		border: 2px solid $buttonBlue;
		border-radius: 2px;
	}

	.quote {
		width: 100%;
		margin-left: 30px;
	}

	blockquote {
		@include anti-alias;
		margin: 0 0 20px;
		font-size: 20px;
		font-weight: 300;
		// font-style: italic;
		line-height: 38px;
	}

	.dquo {

		position: relative;
		display: inline-block;
		width: 0;
		height: 0;
		color: transparent;

		&:before {
			content: '';
			position: absolute;
			top: 10px;
			left: -26px;
			width: 18px;
			height: 12px;
			background: url('/images/ui/quotation_mark-left.svg') no-repeat center center;
			background-size: contain;
		}

	}

	.full-name {
		font-size: 18px;
		font-weight: 700;
		color: #282A50;
	}

	.assignment {
		@include anti-alias;
		margin-left: 30px;
		font-size: 18px;
		line-height: 36px;
		color: #6D6D6D;
	}

// Image Right

	&.imageRight {

		.image {
			order: 2;
		}

		.info {
			order: 1;
			padding-left: 0;
			padding-right: 80px;
		}
		
	}

// Has Bio

	&.hasBio .quote {
		width: 60%;
	}

// Has Video

	&.hasVideo {

		.media {
			width: 100%;
			height: auto;
		}

		.video-container {
			position: relative;
			width: 100%;
		    padding-bottom: 56.25%; /* 16:9 */
		}

		// video {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// }

		.videoIframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		@media screen and (min-width: 1060px) {

			.media {
				width: 60%;
			}

			.info {
				width: 40%;
			}

			.content {
				flex-wrap: wrap;
			}

			.bio, 
			.quote {
				width: 100%;
			}

			.bio {
				margin-bottom: 30px;
			}

		}

		@media screen and (max-width: 1059px) {

			.global-wrapper {
				flex-wrap: wrap;
			}

			.media {
				margin-right: 0;
				margin-bottom: 30px;
			}

			.info {
				width: 100%;
			}

		}

	}

	@media screen and (max-width: 1023px) {

		&:not(.hasVideo) {

			.media {
				display: none;
			}

		}

		.content {
			flex-wrap: wrap;
		}

		.bio {
			width: 100%;
			margin-bottom: 30px;
			padding-right: 0;
		}

		.info {
			width: 100%;
		}

		&.hasBio .quote, 
		.quote {
			@include clearfix;
			width: 100%;
			margin-left: 0;
			padding-left: 30px;
		}

		.quotee:before {
			margin-bottom: 30px;
		}

		.thumbnail {
			display: block;
			float: left;
			max-width: 60px;
			height: auto;
			margin-right: 15px;
		}

		.quotee-info {
			float: left;
		}

		.full-name {
			display: block;
			width: 100%;
		}

		.assignment {
			display: block;
			width: 100%;
			margin-left: 0;
		}

	}

	@media screen and (max-width: 767px) {

		blockquote {
			font-size: 16px;
		}

		.full-name {
			font-size: 16px;
		}

		.assignment {
			font-size: 14px;
		}

	}

}