.resources-single {

	.global-wrapper {
		@include sectionPadding;
	}

	.resource {
		display: flex;
		align-items: center;
		background-color: #fff;
	}

	.image {
		width: 100%;
		max-width: 180px;
		align-self: stretch;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: #F9FAFB;
	}

	.info {
		width: 100%;
		padding: 40px;
	}

	.title {
		margin-bottom: 5px;
		font-size: 20px;
	}

	.button {
		min-width: 200px;
		margin-right: 40px;
	}

// Responsive

	@media screen and (max-width: 768px) {

		.resource {
			flex-wrap: wrap;
			border: 1px solid $hrColor;
		}

		.image {
			max-width: 100%;
			height: calc(65vw - 40px);
		}

		.info {
			padding: 30px;
		}

		.button-container {
			width: 100%;
			padding: 0 30px 30px;
		}

		.button {
			width: 100%;
			max-width: 300px;
		}

	}

}

.resources-multiple {

	.global-wrapper {
		@include sectionPadding;
	}

	.resource-list {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	.resource {

		display: flex;
		align-items: center;
		width: 100%;
		padding: 30px 0;

		&:not(:last-of-type) {
			border-bottom: 1px solid $hrColor;
		}

	}

	.image {
		width: 40px;
		height: 40px;
		margin-right: 40px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: calc(100% - 80px);
	}

	.title {
		margin-bottom: 5px;
		font-size: 20px;
	}

	.button {
		min-width: 200px;
		margin-left: 40px;
	}

// Responsive

	@media screen and (max-width: 500px) {

		.resource {
			align-items: flex-start;
		}

		.info {
			flex-wrap: wrap;
		}

		.title {
			width: 100%;
			font-size: 18px;
		}

		.button {
			margin-top: 20px;
			margin-left: 0;
		}

	}

}