{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	{# <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title> #}
	<link rel="home" href="{{ siteUrl }}" />

	<link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}images/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{ siteUrl }}images/favicon/manifest.json">
	<link rel="mask-icon" href="{{ siteUrl }}images/favicon/safari-pinned-tab.svg" color="#21c2d2">
	<link rel="shortcut icon" href="{{ siteUrl }}images/favicon/favicon.ico">
	<meta name="msapplication-config" content="{{ siteUrl }}images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
	<script src="https://use.typekit.net/saf2tbh.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

    {# Entry Meta #}
    {% set seomaticPlugin = craft.plugins.getPlugin('seomatic') %}
    {% if seomaticPlugin and seomaticPlugin.isEnabled() %}
        {% hook 'seomaticRender' %}
    {% endif %}

{% if craft.config.devMode %}
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}stylesheets/app.css">
{% else %}
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}stylesheets/app.min.css?v=1.0.0">
{% endif %}

</head>

{% import 'includes/macros/_helpers' as helpers %}

<body class="{{ craft.request.getSegment(2) }}">

	<main class="core-body" role="main">

        {% set cacheKey = "nav" %}
        {% cache globally using key cacheKey if craft.config.cache %}        
		{% include 'includes/_header' %}
        {% endcache %}

		{% block content %}{% endblock %}

		{% set cacheKey = "footer" %}
		{% cache globally using key cacheKey if craft.config.cache %}
			{% include 'includes/_footer' %}
		{% endcache %}
		
	</main>

{% if craft.config.devMode %}
    <script type="text/javascript" src="{{ siteUrl }}javascripts/app.js"></script>
{% else %}
    <script type="text/javascript" src="{{ siteUrl }}javascripts/app.min.js?v=1.0.0"></script>
{% endif %}

</body>
</html>