.lets-talk {

	@include clearfix;
	@include sectionPadding;
	padding-top: 80px;
	padding-bottom: 80px;

	.left-info {
		float: left;
		width: 290px;
	}

	.right-info {
		float: right;
		width: calc(100% - 430px);
	}

	// Form

	input {
		float: left;
		width: calc(50% - 35px);
	}

	input:nth-child(odd) {
		margin-right: 70px;
	}

	#title {
		width: 100%;
		margin-right: 0;
	}

// Responsive

	@media screen and (max-width: 960px) {

		.right-info {
			width: calc(100% - 330px);
		}

		input:nth-child(odd) {
			margin-right: 0;
		}

		input {
			width: 100%;
		}

	}

	@media screen and (max-width: 660px) {

		.left-info, 
		.right-info {
			width: 100%;
		}

		.left-info {
			margin-bottom: 40px;
		}

	}

}