.news-press {

	@include sectionPadding;
	display: flex;
	background-color: $darkGray;
	
	.news, 
	.press {
		width: calc(50% - 80px);
	}

	.vertical-divider {
		align-self: stretch;
		width: 1px;
		margin: 40px 80px 0;
		background-color: #D8D8D8;
	}

	.heading a {
		color: $buttonBlue;
	}

	.article {
		display: flex;
	}

	.image {
		min-width: 180px;
		margin-right: 40px;
	}

	.info {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		top: -10px;
	}

	.title {
		width: 100%;
		font-size: 20px;
	}

	.excerpt {
		width: 100%;
		margin-top: 0;
		font-size: 16px;
	}

	.link {
		align-self: flex-end;
		margin-top: 40px;
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 18px;
		color: #4A4A4A;
	}

}