.news {

	@include sectionPadding;

	.global-wrapper {
		display: flex;
	}
	
	.left-article, 
	.right-article {
		width: calc(50% - 80px);
	}

	.vertical-divider {
		align-self: stretch;
		width: 1px;
		margin: 40px 80px 0;
		// background-color: #D8D8D8;
	}

	.heading {
		margin-bottom: 20px;
	}

	.heading a {
		color: $darkGray;
	}

	.article {
		display: flex;
	}

	.image {
		min-width: 180px;
		margin-right: 40px;
	}

	.info {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	.title {
		width: 100%;
		margin-bottom: 5px;
		font-size: 18px;
		font-weight: 700;
		line-height: 26px;
	}

	.excerpt {
		width: 100%;
		margin-top: 0;
		font-size: 16px;
		line-height: 26px;
	}

	.link {
		position: relative;
		margin-top: 20px;
		font-size: 16px;
		color: $defaultColor;
		transition: color 0.15s ease-in-out;
	}

	.link:after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background-color: $defaultColor;
		transition: background-color 0.15s ease-in-out;
	}

	.link:hover {
		color: $buttonBlue;
	}

	.link:hover:after {
		background-color: $buttonBlue;
	}

	@media screen and (max-width: 1200px) {

		.left-article, 
		.right-article {
			width: calc(50% - 40px);
		}

		.vertical-divider {
			margin-left: 40px;
			margin-right: 40px;
		}

	}

	@media screen and (max-width: 1023px) {

		.global-wrapper {
			flex-wrap: wrap;
			justify-content: center;
		}

		.left-article, 
		.right-article {
			width: 100%;
			max-width: 600px;
		}

		.right-article {
			margin-top: 30px;
		}

		.vertical-divider {
			margin-left: 0;
			margin-right: 0;
		}

	}

	@media screen and (max-width: 767px) {

		.link {
			font-size: 14px;
		}

	}

	@media screen and (max-width: 767px) {

		.right-article {
			margin-top: 0;
		}

		.image {
			width: 80px;
			min-width: 1px;
			margin-right: 20px;
		}

		.excerpt {
			display: none;
		}

		.link {
			margin-top: 5px;
		}

	}

}