{% set themes = helpers.getThemes(theBlock.themes) | trim %}
{% set heading = theBlock.heading | default("") %}

<div class="cta-block">

	<div class="content reveal">        

        {% if heading != "" %}

            <h2 class="heading">
                {{ heading }}
            </h2>

        {% endif %}

        {% set ctaParams = {
            text: theBlock.ctaText,
            internalLink: theBlock.ctaInternalLink.first(),
            externalLink: theBlock.ctaExternalLink,
        } %}

        {{ helpers.ctaBuilder(ctaParams) }}     

	</div>

</div>