{% set themes = helpers.getThemes(theBlock.themes) | trim %}
{% set heading = theBlock.heading | default("") %}
{% set iconList = theBlock.list %}

<div class="icon-list {{ themes }}">

    <div class="global-wrapper">

		{% if heading != "" %}

			<h2 class="heading">
				{{ heading }}
			</h2>

		{% endif %}

		{% if iconList.count() %}

			<ul class="list list-count-{{ iconList.count() }}">

				{% for icon in iconList %}

				{% set iconHeading = icon.heading %}
				{% set iconTitle = icon.title %}
				{% set iconAsset = icon.icon.first() %}
				{% set iconAssetUrl = iconAsset.url() %}
				{% set iconAssetAlt = iconAsset.alt | default('') %}

				<li class="icon">

					<img class="icon-image" src="{{ iconAssetUrl }}" alt="{{ iconAssetAlt }}">

					<div class="info">

						<h4 class="icon-title">{{ iconTitle }}</h4>

						{% if iconHeading != "" %}
							<p class="description">{{ iconHeading }}</p>
						{% endif %}

					</div>

				</li>

				{% endfor %}

			</ul>

		{% endif %}

	</div>

</div>