{% set themes = helpers.getThemes(theBlock.themes) | trim %}
{% set heading = theBlock.heading | default("") %}
{% set iconList = theBlock.list %}

<div class="icon-list {{ themes }}">

    <div class="global-wrapper">

		{% if heading != "" %}

			<h2 class="heading">
				{{ heading }}
			</h2>

		{% endif %}

		{% if iconList.count() %}

			<ul class="logo-list">

				{% for logo in iconList %}

				{% set logoHeading = logo.heading %}
				{% set logoTitle = logo.title %}
				{% set logoAsset = logo.icon.first() %}
				{% set logoAssetUrl = logoAsset.url() %}
				{% set llogoAssetAlt = logoAsset.alt | default('') %}

				<li class="logo">

					<img class="logo-image" src="{{ logoAssetUrl }}" alt="{{ llogoAssetAlt }}">

					{% if logoHeading != "" %}
						{{ logoHeading }}
					{% endif %}

					<h4 class="logo-title">{{ logoTitle }}</h4>

				</li>

				{% endfor %}

			</ul>

		{% endif %}

	</div>

</div>