{% set heading = theBlock.heading %}
{% set imageUrl = theBlock.image.first().getUrl | default('') %}
{% set subHeading = theBlock.subHeading %}
{% set body = theBlock.body %}

{% set iconListHeading = theBlock.iconListHeading %}
{% set iconListBody = theBlock.iconListBody %}
{% set iconList = theBlock.iconList %}

<div class="image-copy-small-icon-list">

    <div class="global-wrapper">

        <div class="left-content">
            
            <h2 class="heading">{{ heading }}</h2>

            {% if imageUrl != "" %}
                <img class="image" src="{{ imageUrl }}" alt="">
            {% endif %}

            {% if subHeading | length %}
                <h3 class="title">{{ subHeading }}</h3>
            {% endif %}

            <div class="description">
                {{ theBlock.body }}
            </div>

            {% set ctaParams = {
                text: theBlock.ctaText,
                internalLink: theBlock.ctaInternalLink.first(),
            } %}

            {{ helpers.ctaBuilder(ctaParams) }}

        </div>

        <div class="right-content">

            <h2 class="heading">{{ iconListHeading }}</h2>

            <div class="description">
                {{ iconListBody }}
            </div>
            
            <ul>

                {% for item in iconList %}
                    <li>
                        
                        <img class="image" src="{{ item.icon.first().getUrl() }}" alt="" />

                        <div class="info">

                            {% if item.heading != "" %}
                                <h3 class="title">{{ item.heading }}</h3>
                            {% endif %}

                            <p class="description">{{ item.title }}</p>

                            {% set iconListCtaParams = {
                                text: theBlock.iconListCtaText,
                                internalLink: theBlock.iconListCtaInternalLink.first(),
                            } %}    

                            {{ helpers.ctaBuilder(iconListCtaParams) }}

                        </div>
                        
                    </li>
                {% endfor %}

            </ul>

        </div>

    </div>

</div>