{% set themes = helpers.getThemes(theBlock.themes) | trim %}
{% set layout = theBlock.imageAlignment | default('imageLeft') %}
{% set image = theBlock.image.first() %}
{% set imageUrl = image.getUrl() | default('http://via.placeholder.com/620x460') %}
{% set imageAlt = image.alt | default('') %}
{% set heading = theBlock.heading %}
{% set description = theBlock.body %}

<div class="image-copy {{ themes }} {{ layout }}">

	<div class="global-wrapper">

		{% if imageUrl != "" %}
			{# <div class="image" style="background-image: url('{{ imageUrl }}');"></div> #}
			<img class="image" src="{{ imageUrl }}" alt="{{ imageAlt }}">
		{% endif %}

		<div class="copy">

			{% if heading != "" %}
				<h2 class="heading">
					{{ heading }}
				</h2>
			{% endif %}
			
			{% if description != "" %}
				<div class="description">
					{{ description | typogrify }}
				</div>
			{% endif %}

            {% set ctaParams = {
                text: theBlock.ctaText,
                internalLink: theBlock.ctaInternalLink.first(),
                externalLink: theBlock.ctaExternalLink,
            } %}

            {{ helpers.ctaBuilder(ctaParams) }}			

		</div>

	</div>

</div>