{% set imageUrl = '' | default('http://via.placeholder.com/135x50') %}

<div class="logo-grid">

	<div class="global-wrapper">

		<h2 class="heading">
			Logo Grid Block Title
		</h2>

		<div class="logos-container">
			<div class="logos">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
			</div>
		</div>

	</div>

</div>