{% set themes = helpers.getThemes(theBlock.themes) | trim %}
{% set heading = theBlock.heading | default("") %}
{% set customers = theBlock.customers %}
{% set logos = theBlock.logos %}
{% set customersCount = customers.count() %}
{% set logosCount = logos.count() %}

<div class="logo-grid {{ themes }}">

	<div class="global-wrapper">

		<header>

			<h2 class="heading">
				{{ heading }}
			</h2>

            {% set ctaParams = {
                text: theBlock.ctaText,
                internalLink: theBlock.ctaInternalLink.first(),
                externalLink: theBlock.ctaExternalLink,
                classes: "theme-hide-on-mobile"
            } %}

            {{ helpers.ctaBuilder(ctaParams) }}		

		</header>

		<div class="logos-container">
			<div class="logos {% if customersCount %}customers-count-{{ customersCount }}{% endif %} {% if logosCount %}logos-count-{{ logosCount }}{% endif %}
			">
				
				{% for customer in customers if customersCount %}
					<img class="logo" src="{{ customer.logo.first().getUrl() }}">				
				{% endfor %}

				{% for logo in logos if logosCount %}
					<img class="logo" src="{{ logo.getUrl() }}">				
				{% endfor %}

			</div>
		</div>

	</div>

</div>