{% set heading = '' | default('Logo Grid Block Title') %}
{% set button = '' | default('') %}
{% set buttonLabel = '' | default('Button') %}
{% set buttonUrl = '' | default('#') %}
{% set imageUrl = '' | default('http://via.placeholder.com/135x50') %}

<div class="logo-grid">

	<div class="global-wrapper">

		<header>

			<h2 class="heading">
				{{ heading }}
			</h2>

			<a class="button hide-on-mobile" href="{{ buttonUrl }}">{{ buttonLabel }}</a>

		</header>

		<div class="logos-container">
			<div class="logos">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
				<img class="logo" src="{{ imageUrl }}">
			</div>
		</div>

	</div>

</div>