{% set latestNews = craft.entries.section('inTheNews').order('postDate desc').first() %}
{% set newsParentUrl = latestNews.uri | split('/') | slice(0,2) | join('/') %}
{% set newsThumbnail = latestNews.thumbnail.first() %}
{% set newsThumbnailUrl = newsThumbnail.url | default('http://via.placeholder.com/180x180') %}
{% set newsThumbnailAlt = newsThumbnail.alt | default('Example image ALT text') %}
{% set newsTitle = latestNews.title | default('') %}
{% set newsDescription = latestNews.body | default('') %}
{% set newsUrl = latestNews.url | default('#') %}

{% set latestPress = craft.entries.section('pressReleases').order('postDate desc').first() %}
{% set pressParentUrl = latestPress.uri | split('/') | slice(0,2) | join('/') %}
{% set pressThumbnail = latestPress.thumbnail.first() %}
{% set pressThumbnailUrl = pressThumbnail.url | default('http://via.placeholder.com/180x180') %}
{% set pressThumbnailAlt = pressThumbnail.alt | default('Example image ALT text') %}
{% set pressTitle = latestPress.title | default('') %}
{% set pressDescription = latestPress.body | default('') %}
{% set pressUrl = latestPress.url | default('#') %}

<div class="news-press">

    <div class="news">

        <h4 class="heading">
            <a href="{{ newsParentUrl }}">
                In the News
            </a>
        </h4>

        <div class="article">

            <a href="{{ newsUrl }}">
                <img class="image" src="{{ newsThumbnailUrl }}">
            </a>

            <div class="info">

                <p class="title">
                    {{ newsTitle }}
                </p>

                <p class="excerpt">
                    {{ newsDescription | length > 90 ? newsDescription | striptags | slice(0, 90) ~ '…' : newsDescription | striptags }}
                </p>

                <a class="link" href="{{ newsUrl }}">
                    Read
                </a>

            </div>

        </div>

    </div>

    <div class="vertical-divider"></div>

    <div class="press">
        
        <h4 class="heading">
            <a href="{{ pressParentUrl }}">
                Press
            </a>
        </h4>

        <div class="article">

            <a href="{{ pressUrl }}">
                <img class="image" src="{{ pressThumbnailUrl }}">
            </a>

            <div class="info">

                <p class="title">
                    {{ pressTitle }}
                </p>

                <p class="excerpt">
                    {{ pressDescription | length > 90 ? pressDescription | striptags | slice(0, 90) ~ '…' : pressDescription | striptags }}
                </p>

                <a class="link" href="{{ pressUrl }}">
                    Read
                </a>

            </div>

        </div>

    </div>

</div>