{% set themes = helpers.getThemes(theBlock.themes) | trim %}

{% set leftNews = theBlock.news[0] | default(craft.entries.section('inTheNews').order('postDate desc').first()) %}
{% set rightNews = theBlock.news[1] | default(craft.entries.section('blog').order('postDate desc').first()) %}

<div class="news {{ themes }}">

	<div class="global-wrapper">

		<div class="left-article">

			{{ _self.article(leftNews) }}

		</div>

		<div class="vertical-divider"></div>

		<div class="right-article">
			
			{{ _self.article(rightNews) }}

		</div>

	</div>

</div>

{% macro article(post) %}

	{% set parentURI = post.uri | split('/') | slice(0,2) | join('/') %}
	{% set newsDescription = post.body | default('') %}
	{% set newsThumbnailUrl = post.heroImage.first().getUrl() | default('http://via.placeholder.com/180x180') %}
    {% set readMore = post.url | default("#") %}

    {% if post.type.handle == "inTheNewsArticle" %}
        {% set readMore = post.externalLink | default("#") %}
    {% endif %}

	<h4 class="heading">
		<a href="{{ url(parentURI) }}">
			{{ post.type.name }}
		</a>
	</h4>

	<div class="article">

		<a href="{{ readMore }}">
			<img class="image" src="{{ newsThumbnailUrl }}" alt="">
		</a>

		<div class="info">

			<h5 class="title">
				{{ post.title }}
			</h5>

			<p class="excerpt">
				{{ newsDescription | length > 100 ? newsDescription | striptags | slice(0, 100) | trim ~ '…' : newsDescription | striptags }}
			</p>

            <a class="link" href="{{ readMore }}">Read</a>

		</div>

	</div>
	
{% endmacro %}